<html>
<head>
<script language="javascript"> 
	/*
 function goToAnchor() 
 { 
 
 //First, get the frameName, or if none, set the default frameName 
 var begFrmStr = window.location.href.indexOf("?frm="); 
   if (begFrmStr !== -1) { 
   var endFrmStr = window.location.href.indexOf("#"); 
   var frameName = window.location.substring(begFrmStr+5,endFrmStr); 
   } else { 
   var frameName = window.frame[1].name; //the first frame is 0, 2nd is 1 
   } 
 
 // Then, get the anchor reference off the URL, if there is one 
 // If there is assign it to anchorName, if not, return # 
 var sharpIndex = window.location.href.indexOf("#"); 
   if (sharpIndex !== -1) { 
   var anchorName = window.document.location.href.substr(parSharpIndex); 
   } else { 
   var anchorName = "#"; 
   } 
 
 // Then, concate them and tell the frameName to scroll to anchorName 
 window.frameName.location = frameName + anchorString; 
 return; 
 } 
 */
 </script> 
 
</head>
<body>
