<?=$t['sectionheader'];?>
<style type='text/css'>
	.forumsection {
		background-color: #9ccecd;
	}
</style>

<center>
<? if ($t['search']) {?>
<h3>Searching for: <?=$t['search'];?></h3>
<? } ?>

	<table width="98%">
		<tr>
			<td align="left">
				<h3>Classroom forum</h3>
			</td>
		</tr>
		<tr>
			<td  align='right'>
				<a href="<?=appurl("classroom/discussion_view/".$t['forumPost']->lcForumPostId."/mode=t");?>">View in threaded mode</a>
			</td>
		</tr>
		</table>

		<? $t['forumPost']->url = "classroom/discussion_post";?>
		<? $t['forumPost']->dlurl = "classroom/discussion_view";?>
		<? echo stripslashes(showPost($t['forumPost'],$t['perms'], $t['search'])); ?>
	<?
	while(list($k,$v) = @each($t['forumPost']->children)) { 
	$v->url = "classroom/discussion_post";
	$v->dlurl = "classroom/discussion_view";
		 echo stripslashes(showPost($v ,$t['perms'], $t['search'])); 
		 }
		 ?>



</center>

