<?=$t['sectionheader'];?>
<style type="text/css">
	.forumsection {
		background-color: #99DD66;
	}
</style>

<center><table width="98%"><tr><td align="left">

<h4>Post a message</h4>
</td></tr>
<tr>
	<td>
		<Form method="post" action="<?=appurl("classroom/discussion_post/event=post");?>" enctype="multipart/form-data">
		<table>

			<tr>
				<td><b>Title</b></td>
				<td><input type="text" name="forum[title]" size="40" maxlength="255"></td>
			</tr>
			<tr>
				<td valign="top"><b>Message</b></td>
				<td>
					<?=$t['editor'];?>
				</td>
			</tr>

			<tr>
				<td><b>File Attachment 1</b></td>
				<td><input type="file" name="file1"></td>
			</tr>

			<tr>
				<td><b>File Attachment 2</b></td>
				<td><input type="file" name="file2"></td>
			</tr>
		</table>

		<input type="submit" value="Submit">
	</form>
	
	</td>
</tr>

</table>
