<?=$t['sectionheader'];?>




<div style="padding:5px;">

	<div style="float:right;">
		<a href="<?= appurl('classroom/lessons/event=viewContent/id='.$t['content']['id_class_lesson_content']);?>" style="font-size:90%;">Start Lesson</a>
	</div>
	<H2 style="display:inline;margin:1px;"><?= $t['lesson']['title'];?></H2>
	<hr style="margin:0px;padding:0px"/>
	<p style="margin-left:15px;">
		<?= $t['lesson']['description'];?>
	</p>


	<?php 

	if ((is_array($t['objectives']) && count($t['objectives']) > 0)) {
	?>
	<p>
		<h3 style="margin:1px;">Objectives</h3>
		<div style="margin-left:15px;">
			The student will:
			<ul style="margin:1px;">
				<?php
				while (list(,$obj) = @each($t['objectives']))
					echo '<li> '.htmlentities($obj['objective'], ENT_QUOTES).'</li>';
				?>
			</ul>
		</div>
	</p>
	<?php } ?>


	<?php 
	if ( strlen($t['assignmentsTable']) || strlen($t['quizTable'])) {
	?>


	<p>
		<h3 style="margin:1px;">Activities for This Lesson</h3>
		<div style="margin-left:15px;">

			<?php echo $t['assignmentsTable'];?>
			<!--<p>&nbsp;</p>-->
			<?php echo $t['quizTable'];?>
		</div>
	</p>
	<?php } ?>



	<?php 
	if ((is_array($t['weblinks']) && count($t['weblinks']) > 0)) {
	?>

	<p>
		<h3 style="margin:1px;">Web Links</h3>
		<div style="margin-left:15px;">
		<?php 
		if ((is_array($t['weblinks']) && count($t['weblinks']) > 0)) {
		?>

			<ul style="margin:1px;">
			<?php
			while (list(,$webl) = @each($t['weblinks']))
				echo '<li> <a target="new" href="'.MOD_URL.'links/id='
				.$webl['id_class_links'].'">'.$webl['title'].'</a></li>';
			?>
			</ul>

		<?php } ?>

		<?php
		if ( count($t['weblinks'] ) < 1) {
			echo "<i>None</i>\n";
		}
		?>
		</div>
	</p>
	<?php } ?>


	<?php
	if (trim($t['checkListArray'][0]) != '') {
	?>
	<p>
		<h3 style="margin:1px;">Check List</h3>
		<div style="margin-left:15px;">
			<ol style="margin:1px;">
			<?php
			$checkList = implode("</li><li>", $t['checkListArray']);
			echo "<li>$checkList</li>";
			?>
			</ol>
		</div>
	</p>
	<?php } ?>



	<h3>Lesson Trail</h3>
	<?php
	if ( is_array($t['seqItems']) ) {
	?>
	<ol>
		<?php
		foreach ($t['seqItems'] as $k=>$obj) {
		?>
		<li><?= $obj->lobTitle;?></li>
		<?php } ?>
	<?php } ?>



	<div style="width:100%; text-align:center;">
		<a href="<?= $t['startUrl'];?>">Start Lesson</a>
		&nbsp;&nbsp;
		&nbsp;&nbsp;
		&nbsp;&nbsp;
		&nbsp;&nbsp;
		<a href="<?= appurl('classroom/lessons/event=view/id='.$t['lesson']['id_class_lessons'].'/print=yes');?>">Printer-Friendly Version</a></h3>

	</div>

</div>	

<!--
<div class="colorbar">
	<b><?=$t['lesson']['title'];?>:</b>
		<?=$t['content']['txTitle'];?>
</div>


<TABLE width="100%">
	<TR><TD class="body">
	<?=$t['content']['txText'];?>
	</TD></TR>
</TABLE>
-->
