<?=$t['sectionheader'];?>

<?php
if ( strlen($t['error']) > 0 ) { ?>
	<?= lcMessageBox($t['error'],'e');?>
<?php } ?>

	<div align="right" style="text-align:right;">
		<!-- <a href="<?= appurl('classroom/viewer/'.$t['uniqcode'].'/43013-Manarola - 2004.jpg');?>" style="font-size:90%;">Next</a> -->
		<a href="<?= $t['nextUrl'];?>" style="font-size:90%;">Next</a>
	</div>

<?php

if ($t['file']['mime'] == 'image/jpeg') {

//debug($t['file']);

	echo '<h3>'.$t['file']['title'].'</h3>';
	echo ''.$t['file']['description'].'';
	echo "<br/>\n";
	echo '<img src="'.appurl('classroom/content/').$t['uniqcode'].'/'.$t['file']['file'].'"/>';
}
?>

<?php
if ($t['file']['mime'] == 'text/html') {

	echo '<h3>'.$t['file']['title'].'</h3>';
	echo "<br/>\n";
	echo $t['file']['content'];
}
?>

<?php
//debug($t['lob']);
//needs to be handled internall by the LMS.  Items such as tests and assignments and forums
if ($t['lob']['lob_mime'] == 'X-LMS') {

	echo '<h3>Assignment</h3>';
	echo 'Name: '.$t['activity']['title'];
	echo "<br/>\n";
	echo 'Instructions: ';
	echo $t['activity']['instructions'];
}


//debug($t['file']);
if ( strstr($t['file']['mime'] , 'application/vnd.sun.xml.writer') ) {
?>
<div align="left" style="margin:auto;width:50%;">
<fieldset>
	<h3><?=$t['file']['title']?></h3>
	<img align="right" height="64" width="64" src="<?=$t['iconUrl'];?>"/>
	<?
	echo 'size: '.$t['file']['size'];
	echo "<br/>\n";
//	echo 'Download: ';
	echo '<a href="'.appurl('classroom/content/'.$t['uniqcode'].'/'.$t['file']['file']).'">Click to download.</a>';
?>
</fieldset>
</div>
<?php
}
?>
