<?=$t['sectionheader'];?>
<?
$student = $t['gradebook']->students[$t['username']];
if ( $t['gradebook']->calculationType == 1 ) {
	$finalGrade = $t['gradebook']->getLetterGrade($student->weightedAverage,$student->possiblePoints);
} else {
	$finalGrade = $t['gradebook']->getLetterGrade($student->totalPointsEarned,$student->possiblePoints);
}
?>
<table width=650 border=0 cellpadding=0 cellspacing=0><tr>
	<td valign="top">

<table border=0 cellpadding=2 cellspacing=0>
<tr>
	<td><b>Student:</b></td>
	<td width=20>&nbsp;</td>
	<td><?=$t['student'];?></td>
</tr>
<tr>
	<td><b>Course:</b></td>
	<td width=20>&nbsp;</td>
	<td><?=$t['course'];?></td>
</tr>
<tr>
	<td><b>Instructor:</b></td>
	<td width=20>&nbsp;</td>
	<td><?=$t['instructor'];?></td>
</tr>
</table>

	</td>
	<td width=50>&nbsp;</td>
	<td valign="top">
		<? if ($t['gradebook']->calculationType==2) {  // only points based works right now - stifle this display ?>
<table border=0 cellpadding=2 cellspacing=0>
<tr>
	<td><b>Overall Grade:</b></td>
	<td width=20>&nbsp;</td>
	<td><b><?=$finalGrade;?></b> ( <?=$student->percentAverage;?>% )</td>
</tr>
<tr>
	<td><b>Total Points Earned:</b></td>
	<td width=20>&nbsp;</td>
	<td><?= sprintf('%.1f',$student->totalPointsEarned);?> / <?= sprintf('%.1f',$student->possiblePoints);?></td>
</tr>
<tr>
	<td><b>Class Rank:</b></td>
	<td width=20>&nbsp;</td>
	<td><?=$t['rank'];?> / <?=$t['totalRanks'];?></td>
</tr>
</table>

		<? } ?>
		<? if ($t['gradebook']->calculationType==1) {  // percent based?>
<table border=0 cellpadding=2 cellspacing=0>
<tr>
	<td><b>Overall Grade:</b></td>
	<td width=20>&nbsp;</td>
	<td><b><?=$finalGrade;?></b> ( <?=$student->weightedAverage;?>% )</td>
</tr>
<tr>
	<td><b><!--Total Points Earned:--></b></td>
	<td width=20>&nbsp;</td>
	<td><!--<?= sprintf('%.1f',$student->totalPointsEarned);?> / <?= sprintf('%.1f',$student->totalPossiblePoints);?> --></td>
</tr>
<tr>
	<td><b>Class Rank:</b></td>
	<td width=20>&nbsp;</td>
	<td><?=$t['rank'];?> / <?=$t['totalRanks'];?></td>
</tr>
</table>

		<? } ?>
	</td>
</tr></table>


<style type="text/css">
	#studentview table td.start {
		border-color:red;
		border-style:dashed;
		border-width:2px 0px 2px 2px;
	}
	#studentview table td.mid {
		border-color:red;
		border-style:dashed;
		border-width:2px 0px 2px 0px;
	}
	#studentview table td.end {
		border-color:red;
		border-style:dashed;
		border-width:2px 2px 2px 0px;
	}
</style>






	<div id="studentview">
<table width=650 style="border:1px solid black;" border=0 cellpadding=3 cellspacing=0>
<tr style="background-color:black;color:white;font-weight:bold;">
	<td class="menu_head" style="text-align:left;">Title</td>
	<td width=20 class="menu_head">&nbsp;</td>
	<td class="menu_head" style="text-align:left;">Score</td>
	<td width=20 class="menu_head">&nbsp;</td>
	<td class="menu_head" style="text-align:left;">Grade</td>
	<td width=20 class="menu_head">&nbsp;</td>
	<td class="menu_head" style="text-align:left;" NOWRAP>Teacher Comments</td>
</tr>
<?
$NA = '<span style="color:#666666;">?</span>';
foreach ( $t['categories'] as $catid => $cat ) {
	// headings for each category
	if ($cat['possible'] == 0 ) { ?>
	<tr style="font-weight:bold;">
		<td valign="top" class="portalbox" style="text-align:left;" NOWRAP><?=$cat['label'];?></td>
		<td width=20 class="portalbox">&nbsp;</td>
		<td valign="top" class="portalbox" style="text-align:left;" NOWRAP><?= $cat['earned'];?> / <?=$cat['possible'];?></td>
		<td width=20 class="portalbox">&nbsp;</td>
		<td valign="top" colspan=3 class="portalbox" style="text-align:left;" NOWRAP>? / ?</td>
	</tr>

	<? } else { ?>
	<tr style="font-weight:bold;">
		<td valign="top" class="portalbox" style="text-align:left;" NOWRAP><?=$cat['label'];?></td>
		<td width=20 class="portalbox">&nbsp;</td>
		<td valign="top" class="portalbox" style="text-align:left;" NOWRAP><?= $cat['earned'];?> / <?=$cat['possible'];?></td>
		<td width=20 class="portalbox">&nbsp;</td>
		<td valign="top" colspan=3 class="portalbox" style="text-align:left;" NOWRAP><?
			echo sprintf("%0.2f", $cat['earned']/$cat['possible']*100).'% / '
			.$t['gradebook']->getLetterGrade( $cat['earned'],$cat['possible']);?></td>
	</tr>
	<? } 


		//totalPointsPossible & totalPointsReceived are for each category

	foreach ( $student->vals as $valid => $val )
	{
		if ( $t['gradebook']->entries[$valid]->idClassGradebookCategories != $catid )
			continue;

			unset($x);
			$x = sprintf("%0.2f", $val->score / $t['gradebook']->entries[$val->idClassGradebookEntries]->totalPoints)*100;

		if ( !$val->_new ) { 
			$totalPointsPossible += $t['gradebook']->entries[$val->idClassGradebookEntries]->totalPoints;
			$totalPointsReceived += $val->score;
		} 
		else {
			// they don't have a val for this entry
			$x = 'N/A';
			$totalPercentage += $val->percentScore;
		}



		if ( $val->isDisqualified() ) {
			$startstyle = 'start';
			$cellstyle = 'mid';
			$endstyle = 'end';
		} else {
			$startstyle = '';
			$cellstyle = '';
			$endstyle = '';
		}

		echo '
			<tr>
			<td valign="top" NOWRAP class="'.$startstyle.'">'.$t['gradebook']->entries[$valid]->title.'</td>
			<td width=20 class="'.$cellstyle.'">&nbsp;</td>
			<td valign="top" NOWRAP class="'.$cellstyle.'">'.($val->_new ? $NA : $val->score).' / '
				.$t['gradebook']->entries[$val->idClassGradebookEntries]->totalPoints.'</td>
			<td width=20 class="'.$cellstyle.'">&nbsp;</td>

			<td valign="top" NOWRAP class="'.$cellstyle.'">';
				if (  $t['gradebook']->entries[$val->idClassGradebookEntries]->totalPoints == 0 ) { 
				echo 'EC';
				} else { 
				echo  $x.'% / '.$t['gradebook']->getLetterGrade($val->score,$t['gradebook']->entries[$val->idClassGradebookEntries]->totalPoints);
			}
			?>
			</td>
			<td width=20 class="<?=$cellstyle;?>">&nbsp;</td>
			<td valign="top" class="<?=$endstyle;?>">
				<? if ($val->comments) {
					echo $val->comments;
				} else {
					echo '<i>None</i>';
				}

				if ( $val->isDisqualified() ) {
					echo '<br/>This grade has been dropped.';
				}
				?>
			</td>
			</tr>

	<?
	}

} ?>
</table>
</div>


<p><i>This document was generated on <?=date('M j, Y \a\t g:i A', time());?>.</i></p>
