<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript"><!--



function showDelete (sel) {
	if (sel.selectedIndex > -1 ) {
	mid = sel.options[sel.selectedIndex].value;
		if (mid != '__0' ) {
			parent.View.location = '<?= _APP_URL;?>users/' + mid +'/event=showDelete';
		}
	}
}

function checkAll () {
	for (x=0; x < document.forms[0].elements.length -1; x++) {
		document.forms[0].elements[x].checked = true;
	}
}
// -->
</SCRIPT>
	<LINK REL="Stylesheet" HREF="<?= _BASE_URL ;?>/templates/site.css" TYPE="text/css">

	<TITLE>Hercules Control Station</TITLE>
</HEAD>
<BODY bgcolor="#ada592">


<table border="0" cellpadding="0" cellspacing="0">
      <tr><td class="selectedTab">

		User Admin

      </td></tr>

      <tr><td width="650" class="grey">

      <table border="1" width="650"><tr> 
	<td width="400" class="white" align="center" rowspan="2" colspan="1" valign="top">

	<form method="POST" action="<?=_APP_URL?>users/event=showTab/tab=altergroups">
		<? global $HTTP_USER_AGENT; if( strpos($HTTP_USER_AGENT,"MSIE") ) { ?>
		<label for="user_opt">Double click a user for editing</label>
		<? } //IE is the only browser to support this HTML4.01 standard ?>

		<table width="400" border="0">
		<thead>
		<tr><td class="selectedTab">&nbsp;</td><td class="selectedTab">Lastname, Firstname</td>
		<td class="selectedTab">username</td></tr>
		</thead>

		<? for ($x=0; $x < count($t[users]); ++$x) { $c = $t[users][$x]; $x%2? $color="#F0F0F0":$color="#E0E0F0";?>
		<tr bgcolor="<?=$color?>"><td><input type="checkbox" name="users[]" value="<?= $c['pkey']?>"></td><td><?= $c['profiledata']?></td>
		<td><a href="<?=_APP_URL?>users/<?= $c['pkey']?>/event=show"><?= $c[lc_username]?></a></td></tr>
		<? } ?>
		<tfoot>
		<tr><td colspan="2" align="left">&nbsp;&nbsp;^<a href="#" onclick="checkAll(); return false;">Check all</a>
		</td><td align="right">Total users: <?=$t['totalCount']?>&nbsp;&nbsp;</td></tr>

		<tr><td colspan="3" align="center">
		<? if ($t[start] > 1) { ?>
		<a href="<?= _APP_URL;?>users/start=<?= $t[start] - $t[PAGE_SIZE].'/'.$t[opt1].'/'.$t[opt2] ;?>">&lt; Prev</a>
		<? } ?>
			&nbsp; &nbsp; <?= $t[current_page];?>/<?= $t[result_pages];?> &nbsp; &nbsp; 
		<? if ( ($t[start]+$t[PAGE_SIZE]) < $t[max_results] ) { ?>
		<a href="<?= _APP_URL;?>users/start=<?=  $t[start] + $t[PAGE_SIZE].'/'.$t[opt1].'/'.$t[opt2] ;?>">Next &gt;</a>
		<? } ?>
		</td></tr>
		</tfoot>
		</table>

		<p>
		<input type="submit" value="Collect checked users"><br>
		</form>
		<? if ($t['collectionCount']) { ?>
		<div align="left" style="font-size: 90%">
		Current user collection has <?= $t['collectionCount']?> users.
		<br>
		<a href="<?=_APP_URL?>users/event=clearCollection">Clear collection</a>
		</div>
		<? } ?>
	</td><td width="240" class="white" valign="top">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr><td align="center">
			<h3>User Search</h3>
			<p>
		</td></tr>
		<tr><td>
			Show username(s) starting with:
		</td></tr>
		<tr><td align="right">
			<form method="POST" action="<?=_APP_URL;?>users">
			<select name="firstletter">
				<option>a</option>
				<option>b</option>
				<option>c</option>
				<option>d</option>
				<option>e</option>
				<option>f</option>
				<option>g</option>
				<option>h</option>
				<option>i</option>
				<option>j</option>
				<option>k</option>
				<option>l</option>
				<option>m</option>
				<option>n</option>
				<option>o</option>
				<option>p</option>
				<option>q</option>
				<option>r</option>
				<option>s</option>
				<option>t</option>
				<option>u</option>
				<option>v</option>
				<option>w</option>
				<option>x</option>
				<option>y</option>
				<option>z</option>
			</select>
			<input type="submit" value="go">
			<input type="hidden" name="event" value="firstletter">
			</form>
			<p>
		</td></tr>
		<tr><td>
			Show users in group: 
		</td></tr>
		<tr><td align="right">
			<form method="POST" action="<?=_APP_URL;?>users">
			<select name="gid">
				<?=$t[group_opt];?>
				<option value=''>No Groups (suspended/canceled)
			</select><br>
			<input type="submit" value="go">
			<input type="hidden" name="event" value="groupSearch">
			</form>
			<p>
		</td></tr>
		<tr><td>
			Show users where:
		</td></tr>
		<tr><td align="right">
			<form method="POST" action="<?=_APP_URL;?>users">
			<select name="profile_field">
				<?=$t[profile_opt];?>
			</select> <br>
			is like  <br>
			<input type="text" name="q"> <br>
			<input type="submit" value="go">
			<input type="hidden" name="event" value="profileSearch">

			</form>
		</td></tr></table>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</td></tr><tr><td width="50%" class="white" valign="top" align="left" valign="top">
		<center><h3>New User</h3></center>
		Adding a new user <u>requires</u> 3 fields:
		<ul>
		<li>Username
		<li>Password
		<li>email
		</ul>
		Other fields are optional and are considered part of the
		user's <i>profile</i>

		<center>
		<form method="POST">
		<input type="hidden" name="event" value="new">
		<input type="submit" value="create user">
		</form>
		</center>
	</td></tr></table>

      </td></tr>
</table>
	<p>
	<center><div class="message" width="500"><?= $t["message"]; ?></div></center>

</body>
</html>
