<?=$t['sectionheader'];?>

<?=$t['error'];?>
<FIELDSET>
<LEGEND>
<b>Help</b>
</LEGEND>
Enter your questions in the left column and your answers in the right column.   Answers will automatically be sorted for you when you preview on the next page.  Questions will remain in the order you entered them.  Each time you update this question the answers will be randomly sorted.
</FIELDSET>
<form method="POST">
	<table border="0" width="100%">
		<tr>
			<td>&nbsp;</td>
			<td colspan=2>
				*<b>Instructions</b><br />
				<textarea rows="5" cols="50" name="questionText" <?= $t['disableFlag'];?>><?=$t['q']->questionText;?></textarea>
			</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><b>Questions (or definitions)</b></td>
			<td><b>Answers (or terms)</b></td>
		</tr>
		<? for ($x=0;$x<20;++$x) { ?>
		<? $qc = $t['q']->questionChoices[$x]; ?>
		<tr>
			<td align="right" valign="center">
				<? if ($x <= 1) {echo '*';} else { echo '&nbsp;&nbsp;'; } ?>
				<? printf('%d',$x+1);?>.
			</td>
			<td valign="center">
				<input name="labels[<?=$x;?>]" type="text" value="<?=$qc->label;?>" size="40" <?= $t['disableFlag'];?>>
			</td>
			<td>
				<? $x <= 1 ? '*' : ''; ?>
				<input name="correct[<?=$x?>]" value="<?=$qc->correct?>" size="20">
			</td>
		</tr>
		<? } ?>

		<tr>
			<td colspan=3>

<style>
		
	div.over {
		overflow: scroll;
		height: 220px;
		width: 240px;
	}

</style>
	<FIELDSET valign="middle" style="width: 235px; height: 245px; padding: 2px;">
	
	<select name="fileHash"
		style="width: 235px;"
		onChange="document.getElementById('previewfile').src='<?=appurl('classroom/viewContent/fhash=');?>' + this.value;"
		>
	<option value="">Select Image</option>
<?php
	foreach($t['images'] as $myIzimage)
	{
		echo '
		<option value="'.$myIzimage['daHasha'].'"'.
		($t['q']->fileHash == $myIzimage['daHasha'] ? ' SELECTED' : '').'>'.
			$myIzimage['displayname'].'</option>';
	}

?>	
	</select>

		
	<div class="over" align="center" valign="middle">
	<table cellpadding="2" cellspacing="0" border="0" width="100%" height="100%">
	<tr>

		<td valign="middle" align="center" height="100%" width="100%">
		<img alt="" src="<?= $t['q']->fileHash ? appurl('classroom/viewContent/fhash=').$t['q']->fileHash : IMAGES_URL.'spacer.gif'; ?>" id="previewfile">
							
					
		</td>
	</tr>
	</table>
	</div>
			
	</FIELDSET>
			</td>
		</tr>

		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="Save -&gt;">
				<input type="hidden" name="event" value="save">
			</td>
		</tr>
	</table>
</form>

<p>* denotes a required field.</p>
