<?=$t['sectionheader'];?>
<br>
<fieldset>
	<legend><b>Assessment Graded</b></legend>
	<?=$t['testover'];?>
	You have successfully turned in your assessment. Below you will find the score of your
	test.  If there were any essay questions on the test these questions are not calculated
	into your final score.  Your instructor will need to review essay questions and upate
	your score.  Please do not press the back button on your browser and try to re-submit
	your test as that will result in an error.
</fieldset>


<h3>Your Score: <?=$t['grade'];?> out of <?=$t['possiblePoints'];?> - <?=$t['percentGrade'];?></h3>
<h3><a href="<?=APP_URL?>classroom/assessments">Return To Assessments</a></h3>
