<table width="100%">
	<tr>
		<td align="center" colspan="2">
			<h2>Article Heading</h2>
		</td>
	</tr>
	<tr>
		<td valign="top">
<p>
This section is basically an expansion on the humble paragraph break - &lt;p&gt;. &lt;div&gt; is similar except that it doesn't put a double linefeed before te text - it's kind of like &lt;br> except that it has a beginning and end, and so can have attributes like alignment. &lt;span> on the other hand doesn't put any linefeeds in at all, and so you can operate on areas of text inside a paragraph or sentence; it does mean you can't give it an alignment attribute. 
</p>
<p>
The three attributes you can add to this section are alignment, foreground colour and background colour. You can only have all of these attributes in XHTML mode however. Plain HTML browsers cannot handle background colours, and foreground colours are handled using &lt;font color...> tags; this means the &lt;span> tag doesn't work at all in HTML mode as without backgrounds and alignment it would just be replicating font tags which are already handled on the Effects window. WML mode is of course even more restricted, to just paragraphs with alignment. 
</p>
<p>
Alignment is pretty much as you'd expect - left align, which is usually the default for all browsers, puts the text aligned to the left hand side (as with most of this document. If you have a page or table cell that's aligned some other way though you might need to set align=left to make the text look "normal". 
</p>

		</td>
		<td valign="top">
<p>
This section is basically an expansion on the humble paragraph break - &lt;p&gt;. &lt;div&gt; is similar except that it doesn't put a double linefeed before te text - it's kind of like &lt;br> except that it has a beginning and end, and so can have attributes like alignment. &lt;span> on the other hand doesn't put any linefeeds in at all, and so you can operate on areas of text inside a paragraph or sentence; it does mean you can't give it an alignment attribute. 
</p>
<p>
The three attributes you can add to this section are alignment, foreground colour and background colour. You can only have all of these attributes in XHTML mode however. Plain HTML browsers cannot handle background colours, and foreground colours are handled using &lt;font color...> tags; this means the &lt;span> tag doesn't work at all in HTML mode as without backgrounds and alignment it would just be replicating font tags which are already handled on the Effects window. WML mode is of course even more restricted, to just paragraphs with alignment. 
</p>
<p>
Alignment is pretty much as you'd expect - left align, which is usually the default for all browsers, puts the text aligned to the left hand side (as with most of this document. If you have a page or table cell that's aligned some other way though you might need to set align=left to make the text look "normal". 
</p>
		</td>
	</tr>
</table>
