<span style="font-size:22pt;">Start with a template</span>
<hr>
<table width="90%" border="0">
	<tr>
		<td align="center">
			<img src="<?=_PICS_URL?>two_col_banner.gif">
			<br>

			<a href="<?=MOD_URL?>main/event=addPage/template=two_col_banner">Two column banner</a>
		</td>
		<td align="center">
			<img src="<?=_PICS_URL?>single_col.gif">
			<br>
			<a href="<?=MOD_URL?>main/event=addPage/template=one_col">Single column</a>
		</td>
		<td align="center">
			<img src="<?=_PICS_URL?>two_col.gif">
			<br>
			<a href="<?=MOD_URL?>main/event=addPage/template=two_col">Two column</a>
		</td>
	</tr>
</table>
<hr>
or
<p>
<a href="<?=MOD_URL?>main/event=addPage/">Start with an empty document</a>
</p>
