			<style type="text/css">
				.classdoclibrary_even {
						font-size:12pt;
						background: #C0C0C0;
				}
				.classdoclibrary_odd {
						font-size:12pt;
						background: #E0E0E0;
				}

				.classdoclibrary_open {
						font-size:12pt;
						background: #AAF;
				}

			</style>

<div align="center">
	<h3>File Resources Manager</h3>
	<table width="100%" border="0"><tr><td>

		<table align="center" border="1" cellpadding="2" cellspacing="0" style="border-color:black; border-style:solid; border:0px 1px 1px 0px;">
			<tr>
				<td width="50" align="center" bgcolor="#C0C0C0"><a href="<?=APP_URL?>classdoclib/main"><img src="<?=IMAGES_URL?>back.gif" border="0" width="24" height="24" alt="back" title="back"></a></td>
				<td width="50" align="center" bgcolor="#C0C0C0"><a href="<?=DEFAULT_URL?>"><img src="<?=IMAGES_URL?>exit.gif" border="0" width="24" height="24" alt="exit" title="exit"></a></td>
				</td>
			</tr>
			<tr>
				<td width="50" align="center" bgcolor="#FFFFFF">Begining</td>
				<td width="50" align="center" bgcolor="#FFFFFF">Exit</td>
				</td>
			</tr>
		</table>
		</td></tr>
	</table>

	<span style="color:red;"><?=$t["error"];?></span>
</div>
<p>&nbsp;</p>

