<h3>Uploaded student files</h3>

Use the form below to review and download files uploaded by students.  (use datagrid for this)
<BR><BR>
<form>
Limit to student <select name='student'>
<option value=''>-- All students --</a>
<option value=''>Blair</a>
<option value=''>Putin</a>
<option value=''>Chretien</a>
<option value=''>Schuerberg</a>
<option value=''>Spinoza</a>
</select>
<input type='submit' value='Limit'>
</form>
<table border='1'>
<tr>
<td><a href="">Student</a></td>
<td><a href="">File</a></td>
<td><a href="">Timestamp</a></td>
<td><a href="">File size</a></td>
</tr>
<tr>
	<td>Tony Blair</td>
	<td><a href="">What I did on holiday.doc</a></td>
	<td>4/1/2003 8:05am</td>
	<td>92k</td>
</tr>
<tr>
	<td>Vladimir Putin</td>
<td><a href="">Wit and wisdom of J. Stalin.txt</a></td>
	<td>4/3/2003 6:36pm</td>
	<td>2k</td>
</tr>
</table>

