<?php $lob = $t['lob'];?>
<h4>Edit Learning Objects</h4>

<a href="<?=appurl('lobrepo/');?>">Learning Objects Home</a>
&bull;  
<a href="<?=appurl('lobrepo/myobj');?>">My Learning Objects</a>
&bull;  
<a href="<?=appurl('lobrepo/import');?>">Import Learning Objects</a>
&bull;  
<a href="<?=appurl('lobrepo/add');?>">Add Learning Objects</a>

<hr/>

<h3><?= $lob->get('lobTitle');?></h3>
<table border="0" width="600">
	<tr>
		<td valign="top">
			<?php
			if (strlen($t['lob_description']) ) { ?>
			<p>
			<?= $t['lob_description'];?>
			</p>
			<?php
			} else { ?>
			<i>no description</i>
			<?php
			} ?>
		</td>
		<td valign="top" width="200">
			<div style="text-align:center;border:1px solid black;padding:3px;width:170px;">
				<img src="<?=$t['iconUrl'];?>" width="64" height="64"/>
				<br/>
				<?= $lob->getType();?> &ndash; <?= $lob->getSubType();?>
			</div>
			<table border="0" style="border:0px solid black;">
				<tr>
					<td>Size:</td><td><?= $t['lob_bytes']; ?></td>
				</tr><tr>
				<td>URL name:</td><td><?= $lob->getUrl();?></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<form method="GET" action="<?=appurl('lobrepo/edit/event=change/id='.$lob->getRepoId());?>">
<input type="submit" value="Change this object"/>
</form>


<table border="0" width="600">
	<tr>
		<td valign="top">
			<div style="width:200px">
			<fieldset>
				<legend>Copyright</legend>

				<ul>
					<li>Author:&nbsp; <?=$lob->getAuthor();?></li>
					<li>Source:&nbsp; <?=$lob->getSource();?></li>
					<li>Copyright:&nbsp; <?=$lob->getCopyright();?></li>
					<li>License:&nbsp; <?=$lob->getLicense();?></li>
				</ul>
			</fieldset>
			</div>
		</td>
		<td valign="top" width="200">
			<div style="width:200px">
			<fieldset>
				<legend>Status</legend>

				<ul>
					<li>Private:&nbsp; <?=$lob->isPrivate();?></li>
					<li>Version:&nbsp; <?=$lob->getVersion();?></li>
					<li>Last update on:&nbsp; <?= $lob->getEditedOn();?></li>
					<li>Date created:&nbsp; <?= $lob->getCreatedOn();?></li>
				</ul>
			</fieldset>
			</div>
		</td>
		<td valign="top" width="200">
			<div style="width:200px">
			<fieldset>
				<legend>Discipline</legend>

				<ul>
					<li>Subject:&nbsp; <?=$lob->getSubject();?></li>
					<li>Sub-discipline:&nbsp; <?=$lob->getSubdiscipline();?></li>
				</ul>
			</fieldset>
			</div>
		</td>

	</tr>
</table>

<br/>

<h4>Notes</h4>
Enter notes about this object for other faculty members to see.
<br/>
<textarea rows="15" cols="80"></textarea>
