<h3>Add files to folder : <?=$t['folderName']?></h3>

<b><?=$t["message"];?></b>

<table width="200">
<tr>
	<td width="200" valign="top">

		<form method="post" action="<?=appurl("classdoclib/addFile/event=handleUpload");?>" enctype="multipart/form-data">

		<h3>File #1</h3>
		<table>
		<tr>
			<td>Filename</td>
			<td><input type="file" name="files[]" size="35"></td>
		</tr>
		<tr>
			<td>Notes</td>
			<td><input type="text" name="descriptions[]" size="45"></td>
		</tr>
		</table>


		<h3>File #2 (optional)</h3>
		<table>
		<tr>
			<td>Filename</td>
			<td><input type="file" name="files[]" size="35"></td>
		</tr>
		<tr>
			<td>Notes</td>
			<td><input type="text" name="descriptions[]" size="45"></td>
		</tr>
		</table>

		<h3>File #3 (optional)</h3>
		<table>
		<tr>
			<td>Filename</td>
			<td><input type="file" name="files[]" size="35"></td>
		</tr>
		<tr>
			<td>Notes</td>
			<td><input type="text" name="descriptions[]" size="45"></td>
		</tr>
		</table>

		<input type="submit" value="Start Upload">
		</form>
		<i>*This operation may take several minutes depending on the size of the files you chose to upload.</i>
	</td>
</tr>
</table>

