<style type="text/css">
        BODY { background-color:#FFF7AE;}
        .selectedtab { background-color:#3F3FDF;
		font-weight: bold;
                text-align: center;
		color: #FFFFFF; 
	}
        .tab { background-color:#C0C0C0;
                text-align: center; 
	}
        .white { background-color:#FFFFFF; 
	}
        .grey { background-color:#C0C0C0;
		color: #000000;
                border: 2px solid #999;
	}
	.message { font-weight: bold;
		   background-color:#FFCF00;
	}

	A { color: #000000; }

        #tab {
                width: auto;
                padding: 0 0 0 0;
                display: inline;
                margin-bottom: 0em;
		text-transform: uppercase;
		font-weight: bold; 
        }


        #tab ul {
                padding: 0px;
                margin: 0;
                border: 0;
                list-style: none;
                display: inline;
        }

        #tab ul li {
                margin: 0px;
                padding: 2px 1px 7px;
                list-style: none;
                display: inline;
        }


        #tab ul li a {
                display: inline;
                margin-left: 0;
                padding: 2px 22px 7px;
                border-top: 2px solid #999;
                border-right: 2px solid #999;
                border-left: 2px solid #999;
                background-color: #C0C0C0;
                list-style: none;
        }
        #tab ul li a.here {
                background-color: blue;
                color: white;
        }

        #tab ul li a:hover {
                width: auto;
                background-color: #2586d7;
                background-color: #5ba3e0;
	}
</style>
