<h3>File manager</h3>
Use this area to add/edit/delete files only available to members of this class.  Files uploaded here should be limited to files which are classroom documents.  If you are looking to upload files which you'll use when customizing your website (or any other files which may be publicly accessible) use the 'webfile manager' application.
<BR><BR>
Files uploaded here will be associated with a particular class/section.  Files uploaded in the webfileManage app will be associated with a particular instructor, not a particular class/section.

<h3>Add a new file</h3>
<form method='post'>
File description: <input type='text' name='info[description]'>
File: <input type='file' name='info[filename]'><BR>
<input type='submit' value='Upload'>
</form>

<h3>List of current files</h3>
<table border='1' width='100%'>
<tr>
	<td></td>
	<td>File name</td>
	<td>Description</td>
	<td>Size</td>
	<td>d/ls</td>
</tr>
<tr class='row2'>
	<td>del</td>
	<td>foo.doc</td>
	<td>Contract for Chapter 3</td>
	<td>61 k</td>
	<td>17</td>
</tr>
<tr class='row1'>
	<td>del</td>
	<td>mgk.pdf</td>
	<td>PDF of Arby's menu</td>
	<td>142 k</td>
	<td>26</td>
</tr>
</table>


