<h4>Content Page</h4>
<a href="<?=appurl('lobrepo/');?>">Learning Objects Home</a>
&bull;  
<a href="<?=appurl('lobrepo/myobj');?>">My Learning Objects</a>
&bull;  
<a href="<?=appurl('lobrepo/import');?>">Import Learning Objects</a>
&bull;  
<a href="<?=appurl('lobrepo/add');?>">Add Learning Objects</a>

<hr/>


<form action="<?= appurl('lobrepo/edit/event=save');?>" method="POST" enctype="application/x-www-form-urlencoded">
<table width="100%" border="0" cellspacing="2" cellpadding="2">
	<tr>
		<td valign="top" class="">*Enter content title.</td>
		<td valign="top" class=""><input type="text" id="txTitle" name="txTitle" value="<?=$t['lob']->get('lobTitle');?>" size="50" maxlength="255"></td>
	</tr>
	<tr>
		<td valign="top" class="" valign="top">*Page content</td>
		<td valign="top" class="">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr><td><textarea name="txText" cols="80" rows="30" id="txText"><?=htmlentities($t['lob']->get('lobContent'));?></textarea></td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" valign="top" class="">&nbsp;</td>
	</tr>
	<tr>
		<td valign="top" class="">Subject</td>
		<td valign="top" class=""><input type="text" id="md_subj" name="md_subj" value="<?=htmlentities($t['lob']->getMeta('subject'));?>" size="" maxlength=""></td>
	</tr>
	<tr>
		<td valign="top" class="">Sub-Discipline</td>
		<td valign="top" class=""><input type="text" id="md_subdisc" name="md_subdisc" value="<?=htmlentities($t['lob']->getMeta('subdisc'));?>" size="" maxlength=""></td>
	</tr>
	<tr>
		<td valign="top" class="">Author</td>
		<td valign="top" class=""><input type="text" id="md_author" name="md_author" value="<?=htmlentities($t['lob']->getMeta('author'));?>" size="" maxlength=""></td>
	</tr>
	<tr>
		<td valign="top" class="">Copyright Year</td>
		<td valign="top" class=""><input type="text" id="md_copyright" name="md_copyright" value="<?=htmlentities($t['lob']->getMeta('copyright'));?>" size="" maxlength=""></td>
	</tr>
	<tr>
		<td valign="top" class="">License</td>
		<td valign="top" class=""><input type="text" id="md_license" name="md_license" value="<?=htmlentities($t['lob']->getMeta('license'));?>" size="" maxlength=""></td>
	</tr>
	<tr>
		<td valign="top" class=""></td>
		<td valign="top" class=""><input type="submit" id="submit" name="submit" value="Save Content"></td>
	</tr>
	</table>

	<input type="hidden" name="mime" value="<?=$t['mimetype'];?>">
	<input type="hidden" name="event" value="save">
	<input type="hidden" name="lob_sub_type" value="text">
	<input type="hidden" name="lob_id" value="<?=$t['lob']->get('lobContentId');?>">
</form>
<div style="font-size: 85%">*denotes a required field</div>

