 <?=hercbox("Info for ".$t["modName"]);?>
						<table border="1" width="100%">


                        <tr><td width="100%" class="selectedTab" colspan=2>
                                General Info
                        </td></tr>
                        <tr><td wdith="100%" class="white" align="left">
                                Install Key:</td><td class="white"> <b><?= $t[mid];?></b>
                        </td></tr>
                        <tr><td wdith="100%" class="white" align="left">
                                Installed On:</td><td class="white"> <b><?= $t[installedOn];?></b>
                        </td></tr>
                        <tr><td wdith="100%" class="white" align="left">
                                Author:</td><td class="white"> <b><?= $t[author];?></b>
                        </td></tr>




                        <tr><td width="100%" class="selectedTab" colspan=2>
                                Activity
                        </td></tr>
                        <tr><td wdith="100%" class="white" align="left">
                                Sessions in last hour:</td><td class="white"> <b><?= $t[hourly];?></b>
                        </td></tr>
                        <tr><td wdith="100%" class="white" align="left">
                                Hits in last hour:</td><td class="white"> <b><?= $t[hits_hourly];?></b>
                        </td></tr>
                        <tr><td wdith="100%" class="white" align="left">
                                Sessions in last 24h:</td><td class="white"> <b><?= $t[day];?></b>
                        </td></tr>
                        <tr><td wdith="100%" class="white" align="left">
                                Hits in last 24h:</td><td class="white"> <b><?= $t[hits_day];?></b>
                        </td></tr>


                        </table>

