<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<LINK REL="Stylesheet" HREF="<?= _BASE_URL ;?>templates/site.css" TYPE="text/css">

	<TITLE>Hercules Control Station</TITLE>
<script language="JavaScript">
	function openwysiwyg() {
		window.open('<?= BASE_URL?>herc/wysiwyg/_editor.php?formname=Editor','wysiwyg','navigation=0,resizable=yes,width=820,height=700,scrollbars=yes');
		//window.open('<?=_APP_URL;?>content/event=wysiwyg','wysiwyg','navigation=0,resizable=yes,width=750,height=480,scrollbars=yes');
	}
	function sendNewFile(v) {
		Editor.elements[8].value = v;
	}
	function getContent() {
		return Editor.elements[8].value;
	}
</script>
<? global $HTTP_USER_AGENT?>
</HEAD>
<BODY bgcolor="#ada592">


<script language="Javascript">
        function changeTab(action) {
                document.forms[0].action = action + '/event=changeTab';
                //document.write(document.forms[0].action);
                document.forms[0].submit();
        }
</script>

<form method="post" name="Editor" action="<?=MOD_URL?>edit/event=changeTab/prevTab=addPage">


<table border="0" cellpadding="0" cellspacing="0">
      <tr><td class="selectedTab">

		HTML Files

      </td></tr>

      <tr><td width="500" class="grey">

	<table border="0" width="100%" cellpadding="10"><tr>
	<td class="white" align="center">

		<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-style:solid;">
			<tr><td colspan="2">
					<div id="tab">
						<ul>
					<?= $t['tabTable'];?>
						</ul>
					</div>
			</td></tr>
		</table>
		<table width="100%" cellspacing="0" cellpadding="3" border="0">
			<tr><td class="grey" colspan="2">Group Visibility</td></tr>
			<tr><td>
		INCLUDE groups<BR>
		<select name="_save_[groups][]" size="4" multiple><?=$t["groupOpts"];?></select>
<br>
<p>
</td><td>
		EXCLUDE groups<BR><select name="_save_[notgroups][]" size="4" multiple><?=$t["notGroupOpts"];?></select>
</td></tr>
	<tr><td bgcolor="white">
		<span style="align:left;"><input type="submit" name="button" value="Save"></span>
	</td></tr></table>
	</td></tr></table>

</td></tr></table>
</form>

</body>
</html>
