
<h3><hr>Password</h3>
To change your password, enter your old password, then a new password, 
then confirm the new password by entering it again.

<form method="post" action="<?=appurl("users/prof/event=pwpost");?>">
<table>
<tr>
<td width="200" valign="top">Old password</td>
<td width="200"  valign="top"><input type="password" name="values[old]" maxlength="15" size="25"></td>
</tr>
<tr>
<td width="200" valign="top">New password</td>
<td width="200"  valign="top"><input type="password" name="values[new]"  maxlength="15" size="25"></td>
</tr>
<tr>
<td width="200" valign="top">Confirm password</td>
<td width="200"  valign="top"><input type="password" name="values[confirm]" maxlength="15" size="25"></td>
</tr>

</table>

<input type="submit" value="update">
</form>


