<style type="text/css">
	.datatable {
		background-color:#CCC;
	}
	.datatable TR {
		background-color:#EFEFEF;
	}
	.datatable TR TH {
		background-color:#036;
		color:white;
	}

	.datatable TR.even {
		background-color:white;
	}

	.datatable TR.odd {
		background-color:#EFEFEF;
	}

	.datatable TR TD.even {
		background-color:white;
	}

	.datatable TR TD.odd {
		background-color:#EFEFEF;
	}

	.center_justify {
		text-align:center;
	}
	.left_justify {
		text-align:left;
	}
	.right_justify {
		text-align:right;
	}

</style>

<table cellspacing="1" class="datatable" width="100%">
	<tr class="left_justify">
		<th>
			&nbsp;
		</th>
		<th>
			Forum
		</th>
		<th>
			Topics
		</th>
		<th>
			Posts
		</th>
		<th>
			Last Post
		</th>
	</tr>

	<tr class="even">
		<td>
			&nbsp;
		</td>
		<td>
			Forum
		</td>
		<td class="center_justify">
			5
		</td>
		<td class="center_justify">
			7
		</td>
		<td>
			Last Post
		</td>
	</tr>
	<tr class="odd">
		<td>
			&nbsp;
		</td>
		<td>
			Forum
		</td>
		<td class="center_justify">
			5
		</td>
		<td class="center_justify">
			7
		</td>
		<td>
			Last Post
		</td>
	</tr>
	<tr class="even">
		<td>
			&nbsp;
		</td>
		<td>
			Forum
		</td>
		<td class="center_justify">
			5
		</td>
		<td class="center_justify">
			7
		</td>
		<td>
			Last Post
		</td>
	</tr>
	<tr class="odd">
		<td>
			&nbsp;
		</td>
		<td>
			Forum
		</td>
		<td class="center_justify">
			5
		</td>
		<td class="center_justify">
			7
		</td>
		<td>
			Last Post
		</td>
	</tr>

</table>

