<?php echo $t['sectionheader'];?>
<style type="text/css">
	DIV.hover_button:hover {
		background-color:silver;
		border:1px solid gray;
	}

	DIV.hover_button {
		border:1px solid white;
	}
</style>


<form method="POST" action="<?=modurl('forumAdmin/event=saveForum');?>">
<div style="float:left">
	Forum name: <input type="text" name="name">
	<br/>
	Forum description: 
	<br/>
	<textarea name="description"></textarea>
	<br/>
	<input type="submit" id="submit_forum" value="Submit"/>
</div>

<div style="width:100px;float:left">
	&nbsp;
</div>

<div style="float:left">
	<fieldset>
		<legend>Choose Category</legend>

		<!--
		<div class="hover_button" onclick="document.getElementById('radio_1').checked=true;">
			<input type="radio" value="1" id="radio_1" name="category_id" checked/>
			General
		</div>
		-->

		<? if (is_array($t['categories'])) { ?>
		<? 
			$count = 2;
			foreach($t['categories'] as $categoryKey=>$categoryName) { 
			?>
			<div class="hover_button" onclick="document.getElementById('radio_<?=$count;?>').checked=true;">
				<input type="radio" value="<?=$categoryKey;?>" id="radio_<?=$count;?>" name="category_id"/>
				<?=$categoryName;?>
				</div>
			<?
			++$count;
			}
		?>
		<? } ?>
	</fieldset>
</div>
</form>
