<?php echo $t['sectionheader'];?>

<form method="POST" action="<?=modurl('forumAdmin/event=saveChanges');?>">
<?php
		echo $t['table']->toHTML();
?>

	<p style="margin:1px;">&nbsp;</p>
	Move Checked Forums to Category :
	<select name="cat_move_to">
		<option value="-1">Don't Move</option>
		<?=$t['categoryPulldown'];?>
	</select>

	<input type="submit" id="submit_forum" value="Save Changes"/>
</form>

<p style="margin:1px;">&nbsp;</p>
<div align="center" style="width:100%;">
	<a href="<?=modurl('forumAdmin/event=newForum');?>">New Forum</a>
	|
	<a href="<?=modurl('forumAdmin/event=newForum');?>">Forum Categories</a>
</form>
</div>
