<?php echo $t['sectionheader'];?>


<form method="POST" action="<?php echo appurl('classforums/posts/event=startTopic');?>">

	<input type="text" name="subject" value="Subject"/>
	<br/>
	<textarea rows="15" cols="80" name="message"></textarea>

	<br/>
	<br/>
	<input type="submit" name="submit_topic" id="submit_topic" value="Start Topic"/>
</form>

<div>
	<fieldset>
		<legend>Legend</legend>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<th style="text-align:left;">Put these tags around your text</th>
				<th style="text-align:left;">...to get</th>
			</tr>
			<tr>
				<td style="border-bottom:1px solid silver;">[QUOTE] ... [/QUOTE]</td>
				<td style="border-bottom:1px solid silver;">Quoted Text</td>
			</tr>
			<tr>
				<td style="border-bottom:1px solid silver;">[CODE] ... [/CODE]</td>
				<td style="border-bottom:1px solid silver;">Pre-Formatted Text (for HTML, C++, PHP, etc...)</td>
			</tr>
			<tr>
				<td style="border-bottom:1px solid silver;">[I] ... [/I]</td>
				<td style="border-bottom:1px solid silver;">Italicized Text</td>
			</tr>
			<tr>
				<td style="border-bottom:1px solid silver;">[B] ... [/B]</td>
				<td style="border-bottom:1px solid silver;">Bolded Text</td>
			</tr>
		</table>
	</fieldset>
</div>
