<?php echo $t['sectionheader'];?>

<div align="center" style="width:100%;">
	<a href="<?=modurl('forumAdmin/event=newForum');?>">New Topic</a>
	|
	<a href="<?=modurl('posts/event=reply/post_id='.$t['postId']);?>">Post Reply</a>
</form>
</div>

<?php if ( ! $x = $t['threadTable']->toHTML() ) { ?>
	There are no posts to show.
<?php } else {
	echo $x;
} ?>

<div align="center" style="width:100%;">
	<a href="<?=modurl('forumAdmin/event=newForum');?>">New Topic</a>
	|
	<a href="<?=modurl('posts/event=reply/post_id='.$t['postId']);?>">Post Reply</a>
</form>
</div>
