<?=$t['sectionheader'];?>

<? # prints message
if ($t['message'])
{ ?>
<div style="color: blue; font-size: 120%;"><?=$t['message'];?></div>
<? } ?>

<?
if ($t['isadmin'])
{ ?>
<a href="<?=APP_URL?>textbookmgr/main/event=add/id_classes=<?=$t['id_classes'];?>">Add Book</a>
 | 
 <a href="<?=APP_URL?>textbookmgr/main/event=edit/id_classes=<?=$t['id_classes'];?>/updatecampus=yes">Update Campus Information</a><br><br>
<? } ?>

<?

	$count = count($t['data']);
	if (!$count)
	{ ?>

	<FIELDSET>
		<LEGEND>
			Results	
		</LEGEND>
		No materials found for this class.
	</FIELDSET>
<?	} else {
	for ($i=0; $i<$count; $i++)
	{ ?>
		<FIELDSET>
		<LEGEND>
		<? if ($t['isadmin']) { ?>
			<a href="<?=APP_URL?>textbookmgr/main/event=edit/id=<?=$t['data'][$i]->idTextbookClasses?>/id_classes=<?=$t['data'][$i]->idClasses?>">Modify</a> - <a onclick="if (confirm('Are you SURE you want to delete this entry?')) { return true; } else { return false; }" href="<?=APP_URL?>textbookmgr/main/event=delete/id=<?=$t['data'][$i]->idTextbookClasses?>/id_classes=<?=$t['data'][$i]->idClasses?>">Delete</a>
			-
			<? } ?>
			<b>Title: <?=$t['data'][$i]->title;?>	
			- 
			Status <?=getStatus($t['data'][$i]->status);?></b>

		</LEGEND>

		<table width="100%" cellspacing="1">
			<tr class="tabletitle">
				<td colspan="4">
					Material Information
				</td>
			</tr>
			<tr>
				<td>
					Status
				</td>
				<td colspan=3>
					<?=getStatus($t['data'][$i]->status);?>
				</td>
			</tr>
			<tr>
				<td>
					Title
				</td>
				<td>
					<?=$t['data'][$i]->title;?>
				</td>
				<td>
					Edition	
				</td>
				<td>
					<?=$t['data'][$i]->edition;?>
				</td>
			</tr>			
			<tr>
				<td>
					Author
				</td>
				<td>
					<?=$t['data'][$i]->author;?>
				</td>
				<td>
					Copyright	
				</td>
				<td>
					<?=$t['data'][$i]->copyright;?>
				</td>

			</tr>
			<tr>
				<td>
					Publisher
				</td>
				<td>
					<?=$t['data'][$i]->publisher;?>
				</td>
				<td>
					ISBN	
				</td>
				<td>
					<?=$t['data'][$i]->isbn;?>
				</td>

			</tr>			
			<tr>
				<td colspan="4">
					<b>Other Information</b>
				</td>
			</tr>
			<tr>
				<td>
					Bundled
				</td>
				<td>
					<?=printyesno($t['data'][$i]->bundled);?>
				</td>
				<td>
					Bundled Items
				</td>
				<td>
					<?=$t['data'][$i]->bundledItems;?>
				</td>
			</tr>			
			<tr>
				<td>
					Last Item
				</td>
				<td>
					<?=printyesno($t['data'][$i]->lastItem);?>
				</td>
				<td>
					Required Material
				</td>
				<td>
					<?=printyesno($t['data'][$i]->required);?>
				</td>
			</tr>		
			<? if ($t['data'][$i]->note) { ?>
			<tr>
				<td colspan="4">
				<FIELDSET>
					<LEGEND>
					Note
					</LEGEND>
<?=$t['data'][$i]->note;?>
				</FIELDSET>
				
				</td>
			</tr>
			<? } ?>
		</table>
		</FIELDSET>
		<br><br>
		
<?	} } ?>

