<?=$t['sectionheader'];?>

<b>Thank you,</b>
<p>
	Your submission is valuable to us and the community. Our staff will 
	review your question in a timely manner. If we accept the question 
	(and answer if you've supplied one to us) we will categorize it into 
	our system<!-- [This portion has not been finished]
		it into our system and send you a <a href="<?=appurl('pm/');?>">private 
		message</a> notifying you of this 
	-->.
</p>

<p>
	Again, thank you for helping out your fellow students.
</p>
	Thank you,<br>
	<i>Help Desk Staff</i>