<? if (!$t[q]) { ?>

<h3>Site-wide Search</h3>

Welcome to our site-wide search.  All of the content 
in our site is indexed in our fulltext search engine. 

<? } else {

if ( is_array($t['results']) ) {?>
<h2>Search Results for: <i><?=stripslashes($t[q]);?></i></h2>
<? } else { ?>
<h2>No Results for: <i><?=stripslashes($t[q]);?></i></h2>
<? } ?>

<?php 

echo '
<table cellpadding="1" cellspacing="0" width="100%" border="0">
<tr>
    <td valign="bottom" width="60%" class="searchtotalresultsfound">Total results found: '. $t['total_found']. '</td>
    <td align="right" valign="top" class="searchnextprevcell" width="40%"><nobr>'.$t['button']['prev']. '&nbsp;&nbsp;|&nbsp;&nbsp;'. $t['button']['next'].'&nbsp;</nobr></td>
</tr>
</table>
    <br><font size="1">&nbsp;results showing: '.$t['showing'].'<br>
    
';
    while ( list ($k,$v) = @each($t['results']) ) { ?>

        <table width="100%" border="0" cellpadding="0" cellspacing="1">
        <tr>
            <td class="search_title" valign="top"><font class="searchposition"><?=++$t['position'];?>.</font> <a class="searchlink" href="<?= APP_URL;?><?= $v[link];?>"><?= ucfirst($v[title]);?></a></td>
            <td align="right" valign="top" nowrap><font size="1" class="searchscore">[ score: <?=$v['score'];?> ] [ <?= $v['type'];?> ]</font></td>
        </tr>
        <tr>
            <td colspan="2" class="searchdesc">
            <?php
            echo trim(str_replace('/>', '', substr($v['searchdata'], 0, 250))). '... ... ...';
            ?>
            </td>            
        </tr>
        </table>
        <p>
        
    <? } ?>
    
<?  
echo '<br>
<table cellpadding="1" cellspacing="0" width="100%" border="0">
<tr>
    <td valign="bottom" width="60%" class="searchtotalresultsfound">Total results found: '. $t['total_found']. '</td>
    <td align="right" valign="top" class="searchnextprevcell" width="40%"><nobr>'.$t['button']['prev']. '&nbsp;&nbsp;|&nbsp;&nbsp;'. $t['button']['next'].'&nbsp;</nobr></td>
</tr>
</table>';


    } ?>
<br><p>
Enter your search:
<br>
<form method="GET" action="<?=APP_URL?>search/main">
<input type="hidden" name="event" value="search">
<input type="text" name="q" value="<?=stripslashes($t['q']);?>">
<p>
<input type="submit" value="Search">
</form>
<script>
document.forms[0].elements[0].focus();
</script >
