<? hercBox('Search Manager');?>

<table width="100%" border="1">
<? while ( list($k,$v) = @each($t[modlist]) ) {?>
<? if ($v['irec'] < $v['rec']) { $bgcolor='#D0D0F0'; } 
	else if ($v['irec'] < $v['rec']) { $bgcolor='#F0D0D0'; }
	else { $bgcolor = '#FFFFFF';} 
?>
<tr><td bgcolor="<?=$bgcolor?>">
	<?= $v[name];?>
	</td><td bgcolor="<?=$bgcolor?>">
		Indexed Records: <? printf("%d",$v[irec]);?>
	</td><td bgcolor="<?=$bgcolor?>">
		Total Records:   <? printf ("%d",$v[rec]);?>
	</td><td bgcolor="<?=$bgcolor?>">
		<form method="POST">
		<input type="submit" value="re-index">
		<br>
		<input type="checkbox" name="drop" CHECKED> drop old indicies
		<input type="hidden" name="event" value="reindex">
		<input type="hidden" name="mid" value="<?= $v[mid];?>">
		</form>
	</td></tr>
	<? } ?>
</table>
<? endHercBox(); ?>
<p>&nbsp;</p>
<table width="650" border="1">
	<tr>
			<td bgcolor="white" width="50%" valign="top">
					<h3>Help</h3>
			The Search module can help you index a LogiCreate powered website.  Using
			LogiCreate search modules, the Search Manager can index many different 
			parts of the site into one searchable table.
			</p>
			<p>
			Above you will see all the available search modules.  Use the re-index button
			to add any new records to the searchable table.  If you have updated content,
			make sure the 'drop old indicies' box is checked, this will erase all the 
			previous search data from a particular module and re-read all data.
			</p>
			<p>
			<table border="1" cellpadding="4">
				<tr><td colspan="2">Legend</td></tr>
				<tr>
					<td bgcolor="#D0D0F0">&nbsp;&nbsp;</td>
					<td>This module needs updating</td>
				</tr>
				<tr>
					<td bgcolor="#F0D0D0">&nbsp;&nbsp;</td>
					<td>Requires an update with 'drop old indicies'</td>
				</tr>
			</table>
		</td>
		<td bgcolor="white" width="50%" valign="top">

					<h3>Top <?=$t[numResults]?> Searches</h3>
					<ul>
					<?
						while (list($k, $v) = @each($t[cacheResults]))
							{
								echo $v;
							} ?>
					</ul>
			</td>
	</tr>
</table>
<p>&nbsp;</p>
<div class="message" align="center"><?=$t['output']?></div>
