<?=$t['sectionheader'];?>
<?if($t['msg']){ ?><span style="color:blue"><?=$t['msg'];?></span><?}?>
<?if($t['error']){ ?><span style="color:red"><?=$t['error'];?></span><?}?>
<?=$t['form'];?>


<script>

	function blurme()
	{	
		document.getElementById("responseType").blur();
		alert('You can not change this unless you uncheck [Has no due date]');
	}
	
	function lookatchange()
	{	
		var obj_noduedate = document.getElementById("noDueDate");
		var obj_responsetype = document.getElementById("responseType");
		
		if (obj_noduedate.checked)
		{	
			obj_responsetype.readonly = true;
			obj_responsetype.selectedIndex = 4;
			obj_responsetype.onfocus = blurme;
			
		} else
		{	
			obj_responsetype.onfocus = '';
		}
		
	}
	
	
	document.getElementById("noDueDate").onchange=lookatchange;
	lookatchange();
	
</script>
