<?=$t['sectionheader'];?>

<?php
if ( !$t['entryLinked'] ) { 
	echo lcMessageBox('In order to grade this activity you must create a gradebook entry.','i', 'No Gradebook Entry');
}
?>


<style type="text/css">
	td.title
	{
	font-weight: bold;
	}
</style>

<TABLE>
<tr>
	<td class="title">Student:</td>
	<td><?=ucwords($obj->getvars['student']);?></td>
</tr>

<tr>
	<td class="title">Title:</td>
	<td><?=$t['activity']->get('lobTitle');?></td>
</tr>
<tr>
	<td class="title">Belongs to Lesson:</td>
	<td><?=$t['lessonTitle'] ? $t['lessonTitle'] : '<i>None assigned</i>';?></td>
</tr>
<tr>
	<td class="title">Active on:</td><td><?=date('l dS of F Y', $t['startDate']);?></td>
<tr>
	<td class="title">Due on:</td>
	<td><?php
		if ($t['dueDate'] > 0 ) {
			echo date('l jS \o\f F Y \a\t h:i A', $t['dueDate']);
		} else {
			echo lct("No Due Date");
		}
		?>
	</td>
</tr>
<tr>
	<td class="title">Gradebook Code:</td><td><?=$t['entryCode'];?></td>
</tr>
<tr>
	<td class="title" colspan="2">Instructions:</td>
</tr>
<tr>
	<td colspan="2"><?=$t['activity']->get('lobDescription');?></td>
</tr>

</table>

<br/>

<table width="100%">
<tr>

	<td> 


	<fieldset style="padding: 5px;">
	<legend><b>Student Assignment</b></legend>
		
		<h4><?=ucwords($obj->getvars['student']);?></h4>
		<hr/>	
	<?php
		if (count($t['attachments']) > 0)
		{
	?>
	<b> Attachment(s): </b>
		<ul>
		<? while (list(,$a) = @each($t['attachments'])) { ?>
			<li>
				<?=$a['assign_file_name'];?> (<a href="<?=modurl('assignmentManage/event=getFile/id='.$t['sequenceId'].'/student='.$t['studentId'].'/turnin='.$a['id_class_assignments_turnin']."/".$obj->getvars['student']."_".$a['id_class_assignments_turnin']."_".$a['assign_file_name'])?>">Click to Download</a>)</li>
		<? } ?>
		</ul>
	<?php
		}
	?>


	<?php
		if (count($t['hasAudio'])) {
		$a = $t['audioFiles'][0];
	?>
	<b> Attachment(s): </b>
	<br/>
			<APPLET 
			codebase="<?= BASE_URL;?>commentrec/"
			archive="<?= BASE_URL;?>commentrec/swing-layout-1.0.jar,<?= BASE_URL;?>commentrec/commentrec.jar,<?= BASE_URL;?>commentrec/jspeex.jar" CODE=com/metrofindings/applet/CommentPlayApplet.class WIDTH=380 HEIGHT=112 id="commentrec">
			<PARAM name="MAYSCRIPT" value="true"/>
			</APPLET>
			<input type="hidden" name="audioData" id="audioData" value="<?=$t['audioData'];?>"/>
			<script language="javascript">
				function insertDataIntoApplet() {
				var appletObj = document.getElementById('commentrec');
//				alert(appletObj);
				var soundObj = document.getElementById('audioData');
//				alert(soundObj.value);
				appletObj.setSoundUrl("<?=modurl('assignmentManage/event=getFile/id_class_assignments='.$obj->getvars['id_class_assignments'].'/student='.$obj->getvars['student'].'/turnin='.$a['id_class_assignments_turnin']."/".$obj->getvars['student']."_".$a['id_class_assignments_turnin']."_".$a['assign_file_name'])?>","");
				}
//				window.setTimeout('insertDataIntoApplet()',5000);
			</script>
			<input type="button" value="Download Assignment to Applet" onclick="insertDataIntoApplet();"/>
	<?php
		}
	?>

	<p>	
		<?=nl2br($t['turnin']['assign_text']);?>
	</p>
	</fieldset>



	<?php
	if ($t['entryLinked']) {
	?>
	<fieldset style="padding: 5px;">
	<legend><b>Teacher Grading<b></legend>
	<form method="POST" action="<?=appurl('classmgr/assignmentManage/event=gradeStudent/id_class_assignments='.$t['id_class_assignments'].'/student='.$t['student']);?>">

	<p>
	Points:&nbsp;
	<input type="text" size="5" name="grade" value="<?=$t['student_grade_info']['grade'];?>">
	</p>

	<p>
	<b>Teacher Comments:&nbsp;<b>
	<br/>
	<textarea id="teachercomments" name="teachercomments" cols="60" rows="6"><?=$t['student_grade_info']['comments'];?></textarea>
	</p>

	<p>
	<input type="submit" value="Update" name="submit">
	</p>
	</form>
	</fieldset>
	<?php
	}
	?>

	
</td>

		</tr>

	</td>
</tr>

</table>

