<?=$t['sectionheader'];?>
<?
if ($t['motd']) {
	echo lcMessageBox($t['motd'], lct('Message of the Day'));
}
?>


<table width="100%" border="0" cellspacing="10" cellpadding="2">
	<tr> 
		<td width="30%" valign="top">
			<div class="coursemaintitle">
				Setup Your Class
			</div>
			<ol style="font-size:130%">
			<li><a href="<?=modurl('classSetup');?>"><?=lct('Classroom Setup')?></a></li>
			<li><a href="<?=APP_URL?>classmgr/syllabusManage"><?=lct('Syllabus')?></a></li>
			<li><a href="<?=APP_URL?>gradebook/main/event=controlPanel"><?=lct('Gradebook Setup')?></a></li>
			<li><a href="<?=APP_URL?>classmgr/users/"><?=lct('Student Management')?></a></li>
			<li><a href="<?=APP_URL?>classmgr/faq/"><?=lct('FAQs')?></a></li>
			<br/>
			<li><a href="<?=APP_URL?>classmgr/textbooks"><?=lct('Textbooks')?></a></li>
			<li><a href="<?=APP_URL?>classmgr/examschedule/"><?=lct('Exam Scheduling')?></a></li>
			<li><a href="<?=APP_URL?>classmgr/orientations/"><?=lct('Orientation Scheduling')?></a></li>
			<!--
			<li><a href="<?=modurl('scorm/event=import');?>"><?=lct('Import SCORM')?></a></li>
			-->
			<?
			if ($t['ITVClass']) { ?>
			<li><a href="<?=APP_URL?>classmgr/seminars/event=view"><?=lct('Seminar Scheduling')?></a></li>
			<? } ?>
			</ol>
		</td>
		<td width="30%" valign="top">
			<div class="coursemaintitle">
				Create Class Content
			</div>
			<ol style="font-size:130%">
			<li><a href="<?=modurl('lessonManager');?>"><?=lct('Lessons')?></a></li>
			<!--
			<li><a href="<?=modurl('lessonContent');?>"><?=lct('Content')?></a></li>
			-->
			<li><a href="<?=modurl('lessonObjectives');?>"><?=lct('Objectives')?></a></li>
			<li><a href="<?=appurl('classmgr/assignmentManage/');?>"><?=lct('Assignments')?></a></li>
			<li><a href="<?=appurl('assessments');?>"><?=lct('Assessment Manager')?></a></li>
			<li><a href="<?=appurl('lobrepo/myobj');?>"><?=lct('Content / Learning Objects')?></a></li>
			<li><a href="<?=modurl('lessonWebliography');?>"><?=lct('Webliography')?></a></li>
			<br/>
			<li><a href="<?=APP_URL?>classroom/details/id_classes=<?=$t['classObj']->id_classes?>"><?=lct('View Classroom')?></a></li>
			<li><a href="<?=modurl('adjustDates');?>">Adjust All Dates</a></li>
			<li><a href="<?=modurl('dataexchange');?>"><?=lct('Export Class')?></a></li>
			<li><a href="<?=modurl('exportContent');?>"><?=lct('Export Content')?></a></li>
			<li><a href="<?=APP_URL?>classmgr/semestercopy/"><?=lct('Semester Copy')?></a></li>

			</ol>
		</td>
		<td width="30%" valign="top">
			<div class="coursemaintitle">
				Run Your Class
			</div>
			<ol style="font-size:130%">

			<li><a href="<?=APP_URL?>gradebook/main/"><?=lct('Gradebook')?></a></li>
			<li><a href="<?=modurl('cal/');?>"><?=lct('Calendar')?></a></li>
			<li><a href="<?=modurl('announcements/');?>"><?=lct('Announcements')?></a></li>
			<li><a href="#" onClick = "window.open('<?=APP_URL?>classchat/main/event=initialize/id_classes=<?=$obj->user->activeClassTaught->id_classes?>','generic2','toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=1,resizable=1,width=790,height=500');"><?=lct('Chat')?></a></li>
			<li><a href="<?=appurl('classforums/main/');?>id_classes=<?=$t['classObj']->id_classes?>"><?=lct('Discussion Forums')?></a></li>
			<br/>
			<li><a href="<?=modurl('contactStudents/');?>"><?=lct('Contact Students')?></a></li>
			<li><a href="<?=modurl('studentPresentation');?>"><?=lct('Student Presentation')?></a></li>
			<li><a href="<?=modurl('studentProfile');?>"><?=lct('Student Profile')?></a></li>
			</ol>
		</td>
	</tr>
</table>


<!-- table of lesson details -->

<style type="text/css">
.table_disable
{
background-color:#EEE;
color:#333;
}

.table_disable A
{
background-color:#EEE;
color:#333;
}

</style>

<table width="100%" border="0" cellspacing="7" cellpadding="2">
	<tr> 
		<td width="30%" colspan="3" valign="top">
			<div class="coursemaintitle">
				Lesson Overview
			</div>
		</td>
	</tr>
	<tr class="table_disable"><td class="table_disable">
		<i>Lesson Title 1 (finished)</i>
	</td>
	<td class="table_disable">
		<i>Starts in: already started</i>
	</td>
	<td  class="table_disable">
		<i>Ends in: already finished</i>
	</td>
	</tr>
	<tr class="table_disable">
		<td colspan="3"  class="table_disable">
			<i>
			Content: 
				<a href="#">File 1</a>,
				<a href="#">File 2</a>,
				<a href="#">File 3</a>,
				<a href="#">File 4</a>,
				<a href="#">File 5</a>,
				<a href="#">Image 1</a>,
				<a href="#">Image 2</a>,
				<a href="#">Image 3</a>,
				<a href="#">Image 4</a>,
				<a href="#">Page 1</a>,
				<a href="#">Page 2</a>,
				<a href="#">Page 3</a>,
				<a href="#">Page 4</a>
			<br/>
			Assignments:
				<a href="#">Homework 1</a>,
				<a href="#">Homework 1</a>,
				<a href="#">Homework 1</a>,
				<a href="#">Homework 1</a>, 
				<a href="#">Homework 1</a>, 
			<br/>
			Tests:&nbsp; <a href="#">Test1</a>, <a href="#">Practice Test2</a>, <a href="#">Test3</a>
		</i>
		</td>
	</tr>



<?php
for ($xx=2; $xx < 5; $xx++) {
?>
	<tr><td>
		Lesson Title <?= $xx;?>
	</td>
	<td>
		Starts in: 2 days
	</td>
	<td>
		Ends in: 7 days
	</td>
	</tr>
	<tr>
		<td colspan="3">
			Content: 
				<a href="#">File 1</a>,
				<a href="#">File 2</a>,
				<a href="#">File 3</a>,
				<a href="#">File 4</a>,
				<a href="#">File 5</a>,
				<a href="#">Image 1</a>,
				<a href="#">Image 2</a>,
				<a href="#">Image 3</a>,
				<a href="#">Image 4</a>,
				<a href="#">Page 1</a>,
				<a href="#">Page 2</a>,
				<a href="#">Page 3</a>,
				<a href="#">Page 4</a>
			<br/>
			Assignments:
				<a href="#">Homework 1</a>,
				<a href="#">Homework 1</a>,
				<a href="#">Homework 1</a>,
				<a href="#">Homework 1</a>, 
				<a href="#">Homework 1</a>, 
			<br/>
			Tests:&nbsp; <a href="#">Test1</a>, <a href="#">Practice Test2</a>, <a href="#">Test3</a>,
		</td>
	</tr>
<?php } ?>
</table>

