<?php 
print $t['sectionheader'];
?>
<form action="" method="POST" enctype="application/x-www-form-urlencoded">
	<table width="" border="0" cellspacing="3" cellpadding="0">
		<tr>
			<td valign="top" class="">*Title</td>
			<td valign="top" class=""><input type="text" id="title" name="title" value="<?=$t['title'];?>" size="65" maxlength="255"/></td>
		</tr>
		<tr>
			<td valign="top" class="" valign="top">*Description</td>
			<td valign="top" class="">
				<textarea name="description" cols="62" rows="7" id="description"><?= $t['description'];?></textarea>
			</td>
		</tr>
		<tr>
			<td valign="top" class="">*Content Page</td>
			<td valign="top" class="">
				<select id="content" name="content"  size="1">
					<option value="0">No Content Page</option>
					<?= makeOptions($t['contentPages'],$t['content']); ?>
				</select>
			</td>
		</tr>
	</table>

	<fieldset>
		<legend>Dates</legend>
	<table width="" border="0" cellspacing="3" cellpadding="0">
		<tr>
			<td valign="top" class="">Activate On</td>
			<td valign="top" class="">
				<select name='activeOn[month]'>
	<option value="1">January</option>
	<option value="2">February</option>
	<option value="3">March</option>
	<option value="4">April</option>
	<option value="5">May</option>

	<option value="6">June</option>
	<option value="7" SELECTED >July</option>
	<option value="8">August</option>
	<option value="9">September</option>
	<option value="10">October</option>
	<option value="11">November</option>

	<option value="12">December</option>
				</select>
				<select name='activeOn[day]'>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>

	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>

	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14" SELECTED >14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>

	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>

	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>

	<option value="30">30</option>
	<option value="31">31</option>
				</select>
				<select name='activeOn[year]'>
	<option value="2005" SELECTED >2005</option>
	<option value="2006">2006</option>
	<option value="2007">2007</option>
				</select>
				<select name='activeOn[hours]'>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5" SELECTED >5</option>
	<option value="6">6</option>

	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
				</select>
				<select name='activeOn[minutes]'>
	<option value="0" SELECTED >00</option>
	<option value="5">5</option>
	<option value="10">10</option>
	<option value="15">15</option>
	<option value="20">20</option>
	<option value="25">25</option>

	<option value="30">30</option>
	<option value="35">35</option>
	<option value="40">40</option>
	<option value="45">45</option>
	<option value="50">50</option>
	<option value="55">55</option>
				</select>
				<select name='activeOn[ampm]'>
	<option value="AM">AM</option>
	<option value="PM" SELECTED >PM</option>
				</select>
			</td>
		</tr>
		<tr>
			<td valign="top" class="">Deactivate On</td>
			<td valign="top" class="">
				<select name='inactiveOn[month]'>
					<option value="1">January</option>
					<option value="2">February</option>
					<option value="3">March</option>

					<option value="4">April</option>
					<option value="5">May</option>
					<option value="6">June</option>
					<option value="7" SELECTED >July</option>
					<option value="8">August</option>
					<option value="9">September</option>

					<option value="10">October</option>
					<option value="11">November</option>
					<option value="12">December</option>
				</select>
				<select name='inactiveOn[day]'>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>

					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>

					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>

					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20" SELECTED >20</option>
					<option value="21">21</option>

					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>

					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
				<select name='inactiveOn[year]'>
					<option value="2005" SELECTED >2005</option>
					<option value="2006">2006</option>

					<option value="2007">2007</option>
				</select>
			</td>
		</tr>
	</table>
	</fieldset>

		<br/>
		<div style="text-align:center;">
			<input type="submit" id="submit" name="submit" value="Save Changes">
			<input type="hidden" name="event" value="update">
		</div>


		<div style="font-size:85%">* denotes a required field</div>


		<div style="font-size:85%;">** Make sure you save changes to the above items before changes items below this line.</div>

</form>
	<hr>

	<p style="clear:both;">&nbsp;</p>


	<div style="width:48%;float:right;">
		<fieldset>
			<legend>Lesson Objectives</legend>
			<a href="<?= appurl('classmgr/lessonManager/event=linkObjectives/id='.$t['lessonId']);?>">Change Objective</a>
			<?php
			if ( ! is_array($t['objectives']) ) {
			?>
			<br/>
			<span style="color:red;font-style:italic;">No Objectives</span>
			<?php } ?>
			<ul>
				<?php
				foreach ($t['objectives'] as $k=>$v) {
				?>
				<li><?= $v;?></li>
				<?php } ?>
			</ul>
		</fieldset>
	</div>


	<div style="width:48%;float:left">
		<fieldset>
			<legend>Lesson Check List</legend>
			<a href="<?= appurl('classmgr/lessonManager/event=checkList/id='.$t['lessonId']);?>">Change Check List</a>
			<?php
			if ( ! is_array($t['checkList']) ) {
			?>
			<br/>
			<span style="font-style:italic;">No Check List</span>
			<?php } ?>

			<ol>
				<?php
				foreach ($t['checkList'] as $k=>$v) {
				?>
				<li><?= $v;?></li>
				<?php } ?>
			</ol>
		</fieldset>
	</div>


	<p style="clear:both;">&nbsp;</p>


	<div style="width:48%;float:right;">
		<fieldset>
			<legend>Web Links</legend>
			<a href="<?= appurl('classmgr/lessonManager/event=linkWeb/id='.$t['lessonId']);?>">Change Web Links</a>
			<?php
			if ( ! is_array($t['web']) ) {
			?>
			<br/>
			<span style="font-style:italic;">No Web Links</span>
			<?php } ?>
			<ul>
				<?php
				foreach ($t['web'] as $k=>$v) {
				?>
				<li><?= $v;?></li>
				<?php } ?>
			</ul>
		</fieldset>
	</div>
	

	<div style="width:48%;float:left;">
		<fieldset>
			<legend>Assignments</legend>
			<a href="<?= appurl('classmgr/lessonManager/event=linkAssignments/id='.$t['lessonId']);?>">Change Assignemnts</a>
			<?php
			if ( ! is_array($t['assignments']) ) {
			?>
			<br/>
			<span style="color:red;font-style:italic;">No Assignments</span>
			<?php } ?>
			<ul>
				<?php
				foreach ($t['assignments'] as $k=>$v) {
				?>
				<li><?= $v;?></li>
				<?php } ?>
			</ul>
		</fieldset>
	</div>
	

	<p style="clear:both;">&nbsp;</p>
