<?= $t['sectionheader']; ?>

<h2 style="margin:0px;">Lesson Check List</h2>

<div style="float:right">
	<form style="margin:0px;" action="<?= appurl('classmgr/lessonManager/event=edit/id='.$t['lessonId']);?>">
		<input type="submit" value="Cancel"/>
	</form>
</div>

<form action="<?= appurl('classmgr/lessonNew/event=next/step='.($t['step']+1));?>" style="margin:0px;">
<input type="submit" value="Save"/>
<ol>
	<?php
	for ($x=0; $x < 20; ++$x) {
	$v = $t['checkList'][$x];
	?>
	<li style="margin:5px;"><input type="text" size="65" value="<?= htmlentities($v); ?>" name="checkList[]"/></li>
	<?php } ?>
</ol>

<br/>
<input type="submit" value="Save"/>
</form>

