<?php 
print $t['sectionheader'];
?>

<form action="" method="POST" enctype="application/x-www-form-urlencoded">
	<table width="" border="0" cellspacing="3" cellpadding="0">
		<tr>
			<td valign="top" class="">*Title</td>
			<td valign="top" class=""><input type="text" id="title" name="title" value="" size="65" maxlength="255"/></td>
		</tr>
		<tr>
			<td valign="top" class="" valign="top">*Description</td>
			<td valign="top" class="">
				<textarea name="description" cols="62" rows="7" id="description"></textarea>
			</td>
		</tr>
		<tr>
			<td valign="top" class="">*Content Page</td>
			<td valign="top" class="">
				<select id="content" name="content"  size="1">
					<?php echo makeOptions($t['contentPages']); ?>
				</select>
			</td>
		</tr>
	</table>

	<fieldset>
		<legend>Dates</legend>
	<table width="" border="0" cellspacing="3" cellpadding="0">
		<tr>
			<td valign="top" class="">Activate On</td>
			<td valign="top" class="">
				<select name='activeOn[month]'>
	<option value="1">January</option>
	<option value="2">February</option>
	<option value="3">March</option>
	<option value="4">April</option>
	<option value="5">May</option>

	<option value="6">June</option>
	<option value="7">July</option>
	<option value="8">August</option>
	<option value="9">September</option>
	<option value="10">October</option>
	<option value="11">November</option>

	<option value="12">December</option>
				</select>
				<select name='activeOn[day]'>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>

					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>

					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>

					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>

					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>

					<option value="30">30</option>
					<option value="31">31</option>
				</select>
				<select name='activeOn[year]'>
					<option value="2005">2005</option>
					<option value="2006">2006</option>
					<option value="2007">2007</option>
				</select>
				<select name='activeOn[hours]'>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>

					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
				<select name='activeOn[minutes]'>
					<option value="0">00</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="25">25</option>

					<option value="30">30</option>
					<option value="35">35</option>
					<option value="40">40</option>
					<option value="45">45</option>
					<option value="50">50</option>
					<option value="55">55</option>
				</select>
				<select name='activeOn[ampm]'>
					<option value="AM">AM</option>
					<option value="PM">PM</option>
				</select>
			</td>
		</tr>
		<tr>
			<td valign="top" class="">Deactivate On</td>
			<td valign="top" class="">
				<select name='inactiveOn[month]'>
					<option value="1">January</option>
					<option value="2">February</option>
					<option value="3">March</option>

					<option value="4">April</option>
					<option value="5">May</option>
					<option value="6">June</option>
					<option value="7">July</option>
					<option value="8">August</option>
					<option value="9">September</option>

					<option value="10">October</option>
					<option value="11">November</option>
					<option value="12">December</option>
				</select>
				<select name='inactiveOn[day]'>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>

					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>

					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>

					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>

					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>

					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
				<select name='inactiveOn[year]'>
					<option value="2005">2005</option>
					<option value="2006">2006</option>

					<option value="2007">2007</option>
				</select>
			</td>
		</tr>
	</table>
	</fieldset>

		<br/>
		<div style="text-align:center;">
			<input type="submit" id="submit" name="submit" value="Add Lesson">
			<input type="hidden" name="event" value="new">
		</div>


		<div style="font-size:85%">* denotes a required field</div>
</form>
