
<h3><?=lct('Classroom Overview')?> - <?=$t['semesterDisplay'];?></h3>

<?=lct('The following is a list of classes you are teaching. To select
another semester, select the semester you wish to view in the drop
down and press "Go".')?>

<table cellpadding="2" cellspacing="2" border="0" bgcolor="silver" width="100%">
<tr>
	<td bgcolor="white">

	<?=$t['form'];?>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<?php
		
		if (count($t['classes']) == 0)
		{	echo '
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="center" style="font-weight:bold; padding: 5px; color: purple;" bgcolor="#FFCE7B">No Classes Available</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>';
		} else
		{
		
			foreach($t['classes'] as $null=>$class_record)
			{
				// the only reason this would be an object is if we hit this page for the first time!
				// and we are going through the userTaught array
				if (is_object($class_record))
				{	$class_record = object2array($class_record);
				}
				
				?>
				<tr class="bartitle">
					<td>&nbsp;<a href="<?=APP_URL?>classmgr/display/id_classes=<?=$class_record['id_classes'];?>"><b><?=$class_record['courseName'];?></b></a></td>
					<td align="right"><a href="<?=APP_URL?>classmgr/display/id_classes=<?=$class_record['id_classes'];?>"><?=lct('classroom manager')?></a>&nbsp; </td>
					<td width="19"><a href="<?=APP_URL?>classmgr/display/id_classes=<?=$class_record['id_classes'];?>"><img width="19" src="<?=IMAGES_URL;?>lblue_arrow.gif" border="0"></a></td>
				</tr>
				<tr>
					<td valign="top">
						&nbsp;<a href="<?=appurl("gradebook/main");?>/id_classes=<?=$class_record['id_classes'];?>"><?=lct('Gradebook')?></a></br>
						&nbsp;<a href="<?=appurl("assessments/main");?>/id_classes=<?=$class_record['id_classes'];?>"><?=lct('Assessment Manager')?></a><br>
						&nbsp;<a href="<?=appurl("classdoclib/main");?>/id_classes=<?=$class_record['id_classes'];?>"><?=lct('File Manager')?></a><br>&nbsp;
					</td>
					<td colspan="2" valign="top">
						<a href="<?=MOD_URL?>lessonManager/id_classes=<?=$class_record['id_classes'];?>/"><?=lct('Lesson Manager')?></a><br>
						<a href="<?=modurl('cal');?>/id_classes=<?=$class_record['id_classes'];?>"><?=lct('Calendar')?></a><br>
						<a href="<?=APP_URL?>classmgr/assignmentManage/id_classes=<?=$class_record['id_classes'];?>"><?=lct('Assignments')?></a>
			
					</td>
				</tr>
				<?php
				
			}
			
		}
		
	?>
	
	
	
</table>
</td>
</tr>
</table>




