<?=$t['sectionheader'];?>

<TABLE border="0">
<tr>
	<td class="title">Title:</td>
	<td><?=$t['assignment']['title'];?></td>
</tr>
<tr>
	<td class="title">Belongs to Lesson:</td>
	<td><?=$t['assignment']['lessonTitle'] ? $t['assignment']['lessonTitle'] : '<i>None assigned</i>';?></td>
</tr>
<tr>
	<td class="title">Became active on:</td><td><?=date('l jS of F Y', $t['assignment']['activeDate']);?></td>
<tr>
	<td class="title">Due on:</td><td><?=date('l jS of F Y', $t['assignment']['dueDate']);?></td>
</tr>
<tr>
	<td class="title" colspan="2">Instructions:</td>
</tr>
<tr>
	<td colspan="2"><?=$t['assignment']['instructions'];?></td>
</tr>

<tr>

	<td colspan="2">
&nbsp; <!-- spacer-->
	</td>
</tr>

<tr>

	<td colspan="2">
	<fieldset style="padding: 5px;">
	<legend><b style="font-size: 110%">Student Grade for Assignment</b></legend>
	<br>
<center>
	<b>Grade: </b><b style="color: red;">A+</b>
	</center>
	<br>
	
	</fieldset>
<br>
	<fieldset style="padding: 5px;">
	<legend><b style="font-size: 110%">Teacher Comments</b></legend>
	<br>
	
		You are getting better. 
	
	<br>&nbsp;
	
	</fieldset>
<br>


	<fieldset style=" width: 100%;padding: 5px;">
	<legend><b style="font-size: 110%">Student Assignment</b></legend>
	<table cellpadding="2" cellspacing="1" border="0" width="100%">
		
		<tr>
		<td>	<h4>My assignment</h4>
			<h3>By Me</h3>
			<p>
			I like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
			IIIIIIIIIIIII like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
 like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
 like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
 like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
 like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
 like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
 like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
 like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
 like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
 like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
 like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
 like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
 like tea. Do you like muffins? I love monkeys. Do you love monkeys?
			I love me.
</p>

</td>

		</tr>
		

	</table>
	</fieldset>
	
	</td>
</tr>



<tr>

	<td colspan="2">
&nbsp; <!-- spacer-->
	</td>
</tr>


</TABLE>
