<?=$t['sectionheader'];?>
<?if($t['message']){ ?><span style="color:blue"><?=$t['message'];?></span><?}?>
<?if($t['error']){ ?><span style="color:red"><?=$t['error'];?></span><?}?>

<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
	<td valign="top">
		Semester: <b><?=$t['semester'];?></b><br>
		Course: <b><?=$obj->user->activeClassTaught->courseFamilyNumber;?></b><br>
		Class ID: <b>#<?=$obj->user->activeClassTaught->id_classes;?></b><br>
	</td>
	<td valign="top">
		Instructor's Name: <b><?=$obj->user->activeClassTaught->facultyName;?></b><br>
		Section Numbers: <b><?=preg_replace("/\s+/", ', ', $obj->user->activeClassTaught->sectionNumbers);?></b><br>

	</td>
</tr>
</table>
<hr>
<a href="#" onclick="return toggleFilter();">Gradebook Filters</a>
<div id="filter" style="display:none;width:100%;">
	<form method="post" action="<?=modurl('');?>">
	<table border="0" cellpadding="1" cellspacing="0" width="100%">
	<tr><td width="20%">
		By Students 
	
	</td><td>
		<select name="filteractive">
		<?
		$opts = array( 'All', 'Active', 'Dropped' );
		while ( list(,$opt) = each($opts) ) {
			if ( $opt == $t['filteractive'] ) {
				print "<option SELECTED>$opt</option>\n";
			} else {
				print "<option>$opt</option>\n";
			}
		}
		?>
		</select>
	</td><td width="20%">
		By Last Name 
	</td><td>
		<select name="filterletter">
		<?
		$alphabet = array( 'All', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
				  'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z');
		while ( list(,$letter) = each($alphabet) ) {
			if ( ($letter == 'All' && !$t['filterletter']) || $letter == $t['filterletter']) {
				print "<option SELECTED>$letter</option>\n";
			} else {
				print "<option>$letter</option>\n";
			}
		}
		?>
		</select>
	</td></tr>
	<tr><td width="20%">
		By Types 
	</td><td>
		<select name="filtercat">
		<?
		if ( !$t['filtercat'] ) $t['filtercat'] = '0';

		foreach ( $t['gbCats'] as $cid => $cat ) {
			if ( $cid == $t['filtercat'] ) {
				print "<option value=\"$cid\" SELECTED>$cat</option>\n";
			} else {
				print "<option value=\"$cid\">$cat</option>\n";
			}
		}
		?>
		</select>
	</td><td width="20%">
		By Section Number
	</td><td>
		<select name="filtersection">
		<?
		if ( !$t['filtersection'] ) $t['filtersection'] = '0';

		foreach ( $t['sectionNumbers'] as $blank => $section ) {
			if ( $section == $t['filtersection'] ) {
				print "<option value=\"$section\" SELECTED>$section</option>\n";
			} else {
				print "<option value=\"$section\">$section</option>\n";
			}
		}
		?>
		</select>
	</td></tr>
	</table>
	<input type="submit" value="Filter" />
	</form>
</div>

<hr>
<a href="#" onclick="return toggleLegend();">Gradebook Legend</a>
<div id="legend" style="display:none;">
<table border="0">
	<tr>
	<td width="150">
		Colored background </td><td> These grades have not been 'published', they are hidden from student view.
		</td>
	</tr>
	<tr>
		<td>
		<font color="red">Red font</font> </td><td> Failing grades
		</td>
	</tr>
	<tr>
		<td>
		??? </td><td> Nothing submitted from the student or no grade entered yet.
		</td>
	</tr>
</table>
<hr>
</div>

<!-- iframe -->

		<IFRAME SRC="<?=MOD_URL;?>main/event=iframe" WIDTH="100%" HEIGHT="410"></IFRAME>

<script language="Javascript">
function toggleLegend() {
	legend = document.getElementById('legend');
	if (legend.style.display=='block') {
		document.getElementById('legend').style.display='none';
	} else {
		document.getElementById('legend').style.display='block';
	}
	return false;
}

function toggleFilter() {
	legend = document.getElementById('filter');
	if (legend.style.display=='block') {
		document.getElementById('filter').style.display='none';
	} else {
		document.getElementById('filter').style.display='block';
	}
	return false;
}

</script>
