<?=$t['sectionheader']?>
<h4>Year:  <?=$t['year'];?></h4>

<font class="textone">
	<b>Click on a date to view more information about an event.</b>
</font>



<p align="center" id="calendar">
	
	<table cellpadding="2" cellspacing="1" border="0" width="100%">
	<tr>
		<td width="50%"><?=$t['LINK_prev'];?></td>
		<td width="50%" align="right"><?=$t['LINK_next'];?></td>
	</tr>
	</table>
	
<?php

	echo htmlTable($t['calendar'], 3, '100%', '', 0, 0, 0, 'center');

?>
	<table cellpadding="2" cellspacing="1" border="0" width="100%">
	<tr>
		<td width="50%"><?=$t['LINK_prev'];?></td>
		<td width="50%" align="right"><?=$t['LINK_next'];?></td>
	</tr>
	</table>
	
</p>


