<script language="JavaScript1.2">

/*
Highlight Table Cells Script- 
Last updated: 99/01/21
© Dynamic Drive (www.dynamicdrive.com)
For full source code, installation instructions,
100's more DHTML scripts, and Terms Of
Use, visit dynamicdrive.com
*/

function changeto(highlightcolor){
source=event.srcElement
if (source.tagName=="TR"||source.tagName=="TABLE")
return
while(source.tagName!="TD")
source=source.parentElement
if (source.style.backgroundColor!=highlightcolor&&source.id!="ignore")
source.parentElement.style.backgroundColor=highlightcolor
}

function changeback(originalcolor){
if (event.fromElement.contains(event.toElement)||source.contains(event.toElement)||source.id=="ignore")
source=event.srcElement
if (source.tagName=="TR"||source.tagName=="TABLE")
return
if (event.toElement!=source)
source.parentElement.style.backgroundColor=originalcolor
}
</script>
<br>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="selectedTab">
      			Dynamic Menus
		</td>
		<td class="selectedTab" align="right">
		</td>
	</tr>

	<tr>
		<td width="600">
		<table border="1" width="100%">
			<tr>
			<td colspan='2'><table width='100%' cellpadding='0' cellspacing='0' border='0'><tr>
			<td width='20%' class='white' align='center'><a href="<?=_APP_URL;?>adm/menu">Main menu</a></td>
				<td class="white" align="center">
				<br>
				<div align="right">
				<form method="POST" action="<?=MOD_URL?>itemEditor">
				Create a link to: 
				<select name="linkType">
					<option value="html">HTML Page</option>
					<option value="app">LCP Module</option>
					<option value="ext">External Site</option>
					<option value="hr">Menu Break</option>
				</select>
				<input type="submit" value="go">
				<input type="hidden" name="event" value="add">
				<input type="hidden" name="mid" value="<?=$t[mid]?>">
				</form>
				</div>
			</td>
			</tr>
			</table>
			</td></tr>
			<tr><td colspan='2' class='white' align='center'>

				<br>
				<?= $t[menus] ?>
				<p>&nbsp;</p>
		                <a href="<?=MOD_URL.'menuEditor/event=cache/mid='.$t['mid'].'/';?>">Publish Menu</a>
			</td></tr>
			<tr>
			<td colspan='2'><table width='100%' cellpadding='0' cellspacing='0' border='0'>
						<tr><td class="white" colspan='2' align="left">
				<p>
				You need to save any changes to the menu itself.  Adding, updating, moving links
				will not appear on the website until they are saved.
				</td>
			</tr>
		</table></td></tr>
		</table></td></tr>
		</td>
	</tr>
</table>
