<h4>Content Page</h4>
<a href="<?=appurl('lobrepo/');?>">Learning Objects Home</a>
&bull;  
<a href="<?=appurl('lobrepo/myobj');?>">My Learning Objects</a>
&bull;  
<a href="<?=appurl('lobrepo/import');?>">Import Learning Objects</a>
&bull;  
<a href="<?=appurl('lobrepo/add');?>">Add Learning Objects</a>

<hr/>



	<form action="<?=appurl('lobrepo/add');?>" method="POST" enctype="multipart/form-data">
<table width="100%" border="0" cellspacing="2" cellpadding="2">
	<tr><td valign="top" class="">*Enter content title.</td><td valign="top" class=""><input type="text" id="txTitle" name="txTitle" value="" size="50" maxlength="255"></td></tr>


	<tr><td valign="top" class="">*Upload Your File</td><td valign="top" class="">
			<input type="file" id="content" name="content" value="" size="">
	</td></tr>

	<tr><td valign="top" class="">Enter a Caption</td><td valign="top" class="">
			<input type="text" id="caption" name="caption" value="" maxlength="255" size="50">
	</td></tr>
	<tr><td valign="top" class="">Enter a Description</td><td valign="top" class="">
			<textarea name="description" cols="80" rows="10"></textarea>
	</td></tr>

	<tr><td colspan="2" valign="top" class="">&nbsp;</td></tr>
	<tr><td valign="top" class=""></td><td valign="top" class=""><input type="submit" id="submit" name="submit" value="Add Page"></td></tr>
</table>

<input type="hidden" name="event" value="save">

</form>
