<h4>Add Learning Objects</h4>
<a href="<?=appurl('lobrepo/');?>">Learning Objects Home</a>
&bull;  
<a href="<?=appurl('lobrepo/myobj');?>">My Learning Objects</a>
&bull;  
<a href="<?=appurl('lobrepo/import');?>">Import Learning Objects</a>
&bull;  
<a href="<?=appurl('lobrepo/add');?>">Add Learning Objects</a>

<hr/>

Choose a type of content to add.

<br/>

<fieldset>
<h4>Text Content</h4>
<a href="<?=appurl('lobrepo/add/t=html');?>">HTML</a>
&bull;
<a href="#">Plain Text</a>
&bull;
<a href="#">Wiki Text</a>
&bull;
<a href="#">Program Source Code</a>
&bull;
<a href="#">XML Files</a>
</fieldset>


<fieldset>
<h4>Images and Graphics</h4>
<a href="<?=appurl('lobrepo/add/t=image');?>">JPEG, GIF, BMP, PNG, etc.</a>
&bull;
<a href="#">SVG Vector files</a>
&bull;
<a href="#">Adobe Illustrator&reg;</a>
&bull;
<a href="#">Gimp</a>
</fieldset>

<fieldset>
<h4>Document Files</h4>
<a href="#">MS-Office Files</a>
&bull;
<a href="<?=appurl('lobrepo/add/t=doc/m=sxw');?>">OpenOffice.org Files</a>
&bull;
<a href="<?=appurl('lobrepo/add/t=doc/m=pdf');?>">PDF Files</a>
</fieldset>


<fieldset>
<h4>Sound Files</h4>
<a href="#">MP3</a>
&bull;
<a href="#">Ogg</a>
&bull;
<a href="#">Real Audio</a>
&bull;
<a href="#">AAC</a>
&bull;
<a href="#">Wav</a>
&bull;
<a href="#">Midi</a>
</fieldset>


<fieldset>
<h4>Multimedia Files</h4>
<a href="#">Flash</a>
&bull;
<a href="#">Shockwave</a>
&bull;
<a href="#">Java&trade; Applets</a>
&bull;
<a href="#">Microsoft Active-X</a>
</fieldset>


<fieldset>
<h4>Other Files and Archives</h4>
<a href="#">Zipped Files</a>
&bull;
<a href="#">Tar.gz Files</a>
&bull;
<a href="#">All Other Files</a>
</fieldset>


