<h2>Add Classroom Material</h2>
<a href="<?=appurl('lobrepo/');?>">Classroom Material Home</a>
&bull;  
<a href="<?=appurl('lobrepo/myobj');?>">My Classroom Materials</a>
&bull;  
<a href="<?=appurl('lobrepo/import');?>">Import Material</a>
&bull;  
<a href="<?=appurl('lobrepo/add');?>">Add Material</a>

<hr/>


<h2>Add Content</h2>
<fieldset>
<h3>Text Content</h3>
<a href="<?=appurl('lobrepo/add/t=html');?>">HTML</a>
&bull;
<a href="<?=appurl('lobrepo/add/t=text');?>">Plain Text</a>
<!--
&bull;
<a href="#">Wiki Text</a>
&bull;
<a href="#">Program Source Code</a>
&bull;
<a href="#">XML Files</a>
-->

<br/><br/>

<h3>Images and Graphics</h3>
<a href="<?=appurl('lobrepo/add/t=image');?>">JPEG, GIF, BMP, PNG, etc.</a>
<!--
&bull;
<a href="#">SVG Vector files</a>
&bull;
<a href="#">Adobe Illustrator&reg;</a>
&bull;
<a href="#">Gimp</a>
-->

<br/><br/>

<h3>Document Files</h3>
<!--
<a href="#">MS-Office Files</a>
&bull;
-->
<a href="<?=appurl('lobrepo/add/t=doc/m=sxw');?>">OpenOffice.org Files</a>
&bull;
<a href="<?=appurl('lobrepo/add/t=doc/m=pdf');?>">PDF Files</a>

<br/><br/>

<h3>Sound Files</h3>
<a href="<?=appurl('lobrepo/add/t=audio/m=mp3');?>">MP3</a>
<!--
&bull;
<a href="#">Ogg</a>
&bull;
<a href="#">Real Audio</a>
&bull;
<a href="#">AAC</a>
&bull;
<a href="#">Wav</a>
&bull;
<a href="#">Midi</a>
-->
</fieldset>


<!--
<fieldset>
<h3>Multimedia Files</h3>
<a href="#">Flash</a>
&bull;
<a href="#">Shockwave</a>
&bull;
<a href="#">Java&trade; Applets</a>
&bull;
<a href="#">Microsoft Active-X</a>
</fieldset>


<fieldset>
<h3>Other Files and Archives</h3>
<a href="#">Zipped Files</a>
&bull;
<a href="#">Tar.gz Files</a>
&bull;
<a href="#">All Other Files</a>
</fieldset>
-->

<br/>

<h2>Add Activities</h2>
<fieldset>
<h3>Interactive</h3>
<a href="<?=appurl('lobrepo/add/t=activity');?>">Student Activity</a>
&bull;
<a href="<?=appurl('lobrepo/add/t=activity');?>">Forum Post</a>
</fieldset>


<br/>
<h2>Add Assessments</h2>
<fieldset>
<h3>Tests</h3>
<a href="<?=appurl('lobrepo/add/t=test');?>">Student Test</a>
<!--
&bull;
<a href="#">Real Audio</a>
&bull;
<a href="#">AAC</a>
&bull;
<a href="#">Wav</a>
&bull;
<a href="#">Midi</a>
-->
</fieldset>


