<?php $lob = $t['lob'];?>
<h4>Edit Learning Objects</h4>

<a href="<?=appurl('lobrepo/');?>">Learning Objects Home</a>
&bull;  
<a href="<?=appurl('lobrepo/myobj');?>">My Learning Objects</a>
&bull;  
<a href="<?=appurl('lobrepo/import');?>">Import Learning Objects</a>
&bull;  
<a href="<?=appurl('lobrepo/add');?>">Add Learning Objects</a>

<hr/>

<h3><?= $lob['lob_title'];?></h3>
<table border="0" width="600">
	<tr>
		<td valign="top">
			<?php
			if (strlen($lob['lob_description']) ) { ?>
			<p>
			<?= $lob['lob_description'];?>
			</p>
			<?php
			} else { ?>
			<i>no description</i>
			<?php
			} ?>
		</td>
		<td valign="top" width="200">
			<div style="text-align:center;border:1px solid black;padding:3px;width:170px;">
				<img src="<?=$t['iconUrl'];?>" width="64" height="64"/>
				<br/>
				<?= $lob['lob_type'];?> &ndash; <?= $lob['lob_sub_type'];?>
			</div>
			<table border="0" style="border:0px solid black;">
				<tr>
					<td>Size:</td><td><?= strlen($lob['lob_binary']); ?> bytes</td>
				</tr><tr>
					<td>URL name:</td><td><?= $lob['lob_urltitle'];?></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<input type="button" value="Change this object"/>


<table border="0" width="600">
	<tr>
		<td valign="top">
			<div style="width:200px">
			<fieldset>
				<legend>Copyright</legend>

				<ul>
					<li>Author:&nbsp; <?=$lob['author'];?></li>
					<li>Source:&nbsp; <?=$lob['source'];?></li>
					<li>Copyright:&nbsp; <?=$lob['copyright'];?></li>
					<li>License:&nbsp; <?=$lob['license'];?></li>
				</ul>
			</fieldset>
			</div>
		</td>
		<td valign="top" width="200">
			<div style="width:200px">
			<fieldset>
				<legend>Status</legend>

				<ul>
					<li>Private:&nbsp; <?=$lob['private'];?></li>
					<li>Version:&nbsp; <?=$lob['version'];?></li>
					<li>Last update on:&nbsp; <?= date('M d Y',$lob['updated_on']);?></li>
					<li>Date created:&nbsp; <?= date('M d Y',$lob['created_on']);?></li>
				</ul>
			</fieldset>
			</div>
		</td>
	</tr>
</table>

<br/>

<h4>Notes</h4>
Enter notes about this object for other faculty members to see.
<br/>
<textarea rows="15" cols="80"></textarea>
