<h3><?= lct('Multiple Answer Question');?></h3>
<?=$t['error'];?>
<form method="POST">
	<table border="0" width="600">
		<tr>
			<td valign="top">*<b>Question</b></td>
			<td>
				<textarea rows="5" cols="50" name="questionText" <?= $t['disableFlag'];?>><?=$t['q']->questionText;?></textarea>
			</td>
		</tr>
		<tr>
			<td colspan=2 height=25>&nbsp;</td>
		</tr>
		<tr>
			<td><b>Answers</b></td>
			<td>(check boxes to indicate the correct responses)</td>
		</tr>
		<?// debug($t['q']); ?>
		<? for ($x=0;$x<10;++$x) { ?>
		<? $qc = $t['q']->questionChoices[$x]; ?>
		<? //debug($qc); ?>
		
		<tr>
			<td align="right">
				<? if ($x <= 1) {echo '*';} else { echo '&nbsp;&nbsp;'; } ?>
				<? printf('%d',$x+1);?>.
			</td>
			<td NOWRAP>
				<? $x <= 1 ? '*' : ''; ?>
				<input name="labels[<?=$x;?>]" type="text" value="<?= htmlentities($qc->label);?>" size="50" <?= $t['disableFlag'];?> />
				<input name="correct[<?=$x;?>]" value="On" type="checkbox"<?= $qc->correct ? ' CHECKED':'';?> />
			</td>
		</tr>
		<? } ?>

		<tr>
			<td>&nbsp;</td>
			<td>
<style>
		
	div.over {
		overflow: scroll;
		height: 220px;
		width: 240px;
	}

</style>
	<FIELDSET valign="middle" style="width: 235px; height: 245px; padding: 2px;">
	
	<select name="imagesMenu" id="imagesMenu"
		style="width: 235px;"
		onChange="document.getElementById('previewfile').src='<?=appurl('lobrepo/exam/event=viewImage/id=');?>' + this.value;"
		>
	<option value="">Select Image</option>
<?php
	$images_array = array();
	$images_array = $t['images'];
	
	foreach( $images_array as $img)
	{ ?>
	<option value="<?=$img['lob_repo_entry_id']?>"><?=$img['lob_title']?>	
	</option>	
	<?	}
	?>	
	</select>
	<div class="over" align="center" valign="middle">
	<table cellpadding="2" cellspacing="0" border="0" width="100%" height="100%">
	<tr>

		<td valign="middle" align="center" height="100%" width="100%">
		<img alt="" name="previewfile" id="previewfile" >
		<? if( isset($t['imgId']) ){ ?>
	<script language="JavaScript" type="text/javascript">
		document.getElementById('imagesMenu').value = <?=$t['imgId']?>;  
		document.getElementById('previewfile').src='<?=appurl('lobrepo/exam/event=viewImage/id=').$t['imgId'];?>';
	</script>
	<? } ?>					
					
		</td>
	</tr>
	</table>
	</div>
			
	</FIELDSET>
			</td>
		</tr>

		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" name="sbmt_button" value="<?=lct('Continue -&gt;');?>"/>
				<input type="hidden" name="event" value="saveQuestion"/>
				<input type="hidden" name="qidx" value="<?=$t['qidx'];?>"/>
				<input type="hidden" name="questionType" value="<?= $t['questionType'];?>"/>
			</td>
		</tr>
	</table>
</form>

<p>* denotes a required field.</p>
