<?=$t['sectionheader'];?>
<?=$t['error'];?>
<form method="post">

	<table border="0" width="600">
		<tr>
			<td valign="top">
				*<b>question</b><br/>
			</td>
			<td>
				<textarea rows="5" cols="50" name="question_text" <?= $t['disableflag'];?>><?=$t['q']->questiontext;?></textarea>
				<br/>
			</td>
		</tr>
		<tr>
			<td valign="top"><b>select image</b></td>
			<td>

				<style>
						
					div.over {
						overflow: scroll;
						height: 220px;
						width: 240px;
					}

				</style>

			<fieldset valign="middle" style="width: 235px; height: 245px; padding: 2px;">
			
			<select name="filehash"
				style="width: 235px;"
				onchange="document.getelementbyid('previewfile').src='<?=appurl('classroom/viewcontent/fhash=');?>' + this.value;"
				>
			<option value="">select image</option>
		<?php
			foreach($t['images'] as $myizimage)
			{
				echo '
				<option value="'.$myizimage['dahasha'].'"'.
				($t['q']->filehash == $myizimage['dahasha'] ? ' selected' : '').'>'.
					$myizimage['displayname'].'</option>';
			}

		?>	
			</select>

				
			<div class="over" align="center" valign="middle">
			<table cellpadding="2" cellspacing="0" border="0" width="100%" height="100%">
			<tr>

				<td valign="middle" align="center" height="100%" width="100%">
				<img alt="" src="<?= $t['q']->filehash ? appurl('classroom/viewcontent/fhash=').$t['q']->filehash : images_url.'spacer.gif'; ?>" id="previewfile">
									
							
				</td>
			</tr>
			</table>
			</div>
					
			</fieldset>

			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" name="sbmt_button" value="<?=lct('Continue -&gt;');?>"/>
				<input type="hidden" name="event" value="saveQuestion"/>
				<input type="hidden" name="qidx" value="<?=$t['qidx'];?>"/>
				<input type="hidden" name="questionType" value="<?= $t['questionType'];?>"/>
				</form>
			</td>
		</tr>
	</table>

<p>* denotes a required field.</p>
