<h2>Import Classroom Material</h2>
<a href="<?=appurl('lobrepo/');?>">Classroom Material Home</a>
&bull;  
<a href="<?=appurl('lobrepo/myobj');?>">My Classroom Materials</a>
&bull;  
<a href="<?=appurl('lobrepo/import');?>">Import Material</a>
&bull;  
<a href="<?=appurl('lobrepo/add');?>">Add Material</a>

<hr/>


Add your XML file to the input box below.
<form method="POST" action="<?=appurl('lobrepo/import/event=handleUpload');?>" enctype="multipart/form-data">
	<input type="file" size="35" name="lobxml">
	<br/>
	<input type="submit" value="Start Import">
</form>
