
        .search_title { font-size: 120%; color: #F3A42B; font-family: arial, helvetica, san-serif;}
        .search_type  { font-size: 80%;  font-variant: small-caps;color: blank; width: 50%}
        .search_link  { color: #125CA5; }

