<html>
<head>
<style>
	.title {color: #f0f0f0;
		font-size: 200%; }

</style>
</head>

<body bgcolor="#ada592">

<p>

<center>
<br>
<img src="images/title.gif" align="top" border="0"> <br>
<div class="title">Control Center</div> <br>
</center>

<h2>How to Use</h2>
<table width="100%" border="0" align="center">
	<tr>
	<td valign="top">
		<b>Modules</b>
		<br>
		All of the current modules that are installed for 
		your site are located on the left side of the page under the modules sections.  
		By selecting a module on the left side and choosing one of the buttons below, 
		you can administrate your site.  
	<ul><li>Stats: Statistics about a module
	    <li>Conf:  Configure variables that affect the behavior of a module
	    <li>Perm:  Adjust Group permissions for the module (Permissions are module specific)
	    <li>Admin: General administration, data editing
	</ul>
	</td><td valign="top">
		<img src="images/splash1.png">
	</td>
	</tr>
	<tr>
	<td colspan="2">
		<b>Site Menu</b><br>
		The most common activities are in the "site" menu to the left.
		From there you can add new HTML pages, review users & groups, and get
		usage graphs of your site.  The "view site" feature is very handy for 
		testing out changes to your site.  Clicking it will bring your site into this
		frame and allow you to quickly make adjustments without having two browser windows open.

		<p>
		Don't forget to add a menu link in the menu module after you create a new HTML page.
	</td></tr>
</table>


</body>
</html>
