<?=$t['sectionheader'];?>
<?=$t['error'];?>
<FIELDSET>
<LEGEND><b>Test Information</b></LEGEND>
<b>Question</b>: <?=$t['questionNumber']?> of <?=$t['questionCount'];?>  
<b>Minutes Remaining</b>: <?=$t['minutes_remaining'];?> &nbsp; <b>Start Time</b>: <?=$t['starttime']?> &nbsp;
<b>Test Time Limit</b>: <?=$t['minute_limit']?> minutes
</FIELDSET>
<br>
<form method="POST" ACTION="<?=APP_URL?>test/question/event=answer">
<input type='hidden' name='questionID' value='<?=$t['q']->assessmentQuestionId;?>'>
	<table border="0" width="100%">
		<tr>
			<td valign="top"><b>Question</b></td>
			<TD>
				<?=$t['q']->questionText;?>
			</td>
		</tr>
		<? 
		if ($t['q']->fileHash) 
		{ ?>
		<tr>
			<td colspan="3" align="center">
				<img src="<?=APP_URL?>test/viewContent/fhash=<?=$t['q']->fileHash;?>" border="0" alt="question image" align="center">
			</td>
		</tr>
		<? } ?>
		<tr>
			<td colspan="2" height=25>&nbsp;</td>
		</tr>
		<tr>
			<td><b>*Answer</b></td>
			<td>(check the box to indicate the correct response)</td>
		</tr>
		<? //debug($t['q']); ?>
		<? $count = count($t['q']->questionChoices);
		 for ($x=0;$x<$count; ++$x) { ?>
		<? $qc = $t['q']->questionChoices; ?>
		<? if ($qc[$x]->label!='') { // mgk 10/19/03 ?>
		<?//  debug($qc); ?>
		
		<tr>
			<td align="right">
				<? if ($qc[$x]->label == $t['answer']->assessmentAnswerValues) $checked = 'checked'; ?>

				<input name="answer" value="<?=$qc[$x]->label;?>" type="radio" <?=$checked?>>
			</td>
			<td>
				<? printf('%d',$x+1);?>.
				<?=$qc[$x]->label;?>
			</td>
		</tr>
		<? unset($checked); ?>
		<? } // end if label!='' ?>
		<? } ?>
	</table>
	<br><br>
	<table border="0" width="100%">
		<tr>
			<td valign="top">
				<input type="submit" name="prev" value="&lt;-Save and Go back">
			</td>
			<td valign="top" align="center">
				<input type="submit" name="start" value="View All Questions">
			</td>
			<td valign="top" align="right">
				<input type="submit" name="next" value="Save and Continue-&gt;">
				<input type="hidden" name="assessmentAnswerId" value="<?=$t['answer']->assessmentAnswerId?>">
				</form>
			</td>
		</tr>
	</table>

<p>* denotes a required field.</p>
