<?=$t['sectionheader'];?>

<?=$t['error'];?>
<FIELDSET>
<LEGEND><b>Test Information</b></LEGEND>
<b>Question</b>: <?=$t['questionNumber']?> of <?=$t['questionCount'];?>  
<b>Minutes Remaining</b>: <?=$t['minutes_remaining'];?> &nbsp; <b>Start Time</b>: <?=$t['starttime']?> &nbsp;
<b>Test Time Limit</b>: <?=$t['minute_limit']?> minutes
</FIELDSET>
<br>

<form method="POST" ACTION="<?=APP_URL?>test/question/event=answer">
<input type='hidden' name='questionID' value='<?=$t['q']->assessmentQuestionId;?>'>
	<table border="0" width="100%">
		<tr>
			<td valign="top"><b>Question</b></td>
			<TD>
				<?=$t['q']->questionText;?>
			</td>
		</tr>
		<tr>
			<td colspan="2" height=25>&nbsp;</td>
		</tr>
		<tr>
			<td><b>*Answers</b></td>
			<td>(check boxes to indicate the correct responses)</td>
		</tr>
		<?// debug($t['q']); ?>
		<? 
		
		$count = count($t['q']->questionChoices);
		$answers = unserialize($t['answer']->assessmentAnswerValues);
		 for ($x=0;$x<$count; ++$x) { 
		 $qc = $t['q']->questionChoices; ?>
		
		<tr>
			<td align="right">
				<? if (in_array($x, $answers)) $checked = 'checked'; ?>
				<input name="answer[<?=$x;?>]" value="<?=$x;?>" type="checkbox" <?=$checked?>>
			</td>
			<td>
				<?
				// make this A, B, C, etc) - adding 64+1 = 65 (A). 
				// what effect for foreign character sets? 
				// mgk - 8/14/04
				?>
				<? printf('%d',char($x+1+64));?>.
				<?=$qc[$x]->label;?>
			</td>
		</tr>
		<? unset($checked);?>
		<? } ?>
	</table>
	<br><br>
	<table border="0" width="100%">
		<tr>
			<td valign="top">
				<input type="submit" name="prev" value="&lt;-Save and Go back">
			</td>
			<td valign="top" align="center">
				<input type="submit" name="start" value="View All Questions">
			</td>
			<td valign="top" align="right">
				<input type="submit" name="next" value="Save and Continue-&gt;">
				<input type="hidden" name="assessmentAnswerId" value="<?=$t['answer']->assessmentAnswerId?>">
				</form>
			</td>
		</tr>
	</table>

<p>* denotes a required field.</p>
