<h2>Private Messaging<h2>

<table border="0" cellpadding="4" cellspacing="1" width="100%">
<tr><td valign='top'><a href="<?=APP_URL?>pm/main/event=compose">Compose New Message</a> 
</td>
<td valign='top' align="right">
	<? 
	/******** EVERYONE WILL GET A PRIVATE MESSAGE ********
	 *** view privMsg.php if you want to change this   ***
 	 ***/
	if ($t['emailNotify']=='y') { ?>
	Email notification is on.  <a href="<?=modurl("main/event=notify/val=no");?>">Turn notification off</a>
	<? } else { ?>
	Email notification is off.  <a href="<?=modurl("main/event=notify/val=yes");?>">Turn notification on</a>

	<? } 
	/*****************************************************/
	?>
</td>
</tr>
</table>


<hr>

<div align='center'><h4><?=$t['message'];?></h4></div>

<? if (is_array($t['messages'])) {?> 
<form method='post' action='<?=appurl('pm/main/event=delete/');?>'>
<input type='submit' value='Delete Checked Messages'>
<? } ?>

<?
if (is_array($t['messages'])) { ?>
<br><br>
<table width='100%' border='0' cellpadding='4' cellspacing='1'>
<tr class="pmmessage_header"><td colspan="3" align="center"><b>Messages</b></td></tr>
<?
	while(list($k,$mess) = @each($t['messages'])) { 
	if ($row=='row1') { $row='row2'; } else { $row='row1'; }
	?>
	<tr class='<?=$row;?>'>
	<td rowspan='2' class="header2">
	<input type='checkbox' name='mess[<?=$mess->pkey;?>]'>
	</td>
		<td colspan='1'>Subject: <a href="<?=appurl("pm/main/event=read/pkey=".$mess->pkey);?>"><?=$mess->subject;?></a></td>
		<td colspan='1'>From: <?=$mess->userFrom?></td>
	</tr>
	<tr class='<?=$row;?>'>
	<td>Sent: <?=date("m/d/Y h:i A",$mess->sentTime);?></td>
	<? if ($mess->receivedTime>0) { ?>
		<td>Read: <?=date("m/d/Y h:i A",$mess->receivedTime);?></td>
	<? } else { ?>
		<td>&nbsp;</td>
	<? } ?>
	</tr>
	<? } 
} else { ?>
There are no new messages for you at this time.
<? } ?>
<? if (is_array($t['messages'])) {?> 
</table>
</form>
<? } ?>
<br><br>
<table width='100%'>

<tr>

	<td width='50%'>

		<? if ($t['prev']) { ?>

		<a href="<?=appurl("pm/main/start=".($t['start']-$t['max']));?>">Prev</a> |

		<? } ?>


		<? if ($t['next']) { ?>

		<a href="<?=appurl("pm/main/start=".($t['start']+$t['max']));?>">Next</a>

		<? } ?>

	</td>

	<td align='right'>
&nbsp;

	</td>

</tr>

</table>


