<?= $t['sectionheader']; ?>

<h2 style="margin:0px;"><?= $t['pageHeading']; if (strlen($t['title'])) {echo ' ('.$t['title'].')';}?></h2>
<?php
if ( strlen($t['message']) > 0 ) { ?>
	<h3 style="margin:0px;color:red;"><?= $t['message'];?></h3>
<?php } ?>



<div style="float:right">
	<form style="margin:0px;" action="<?= appurl('classmgr/lessonManager/event=show/id='.$t['lessonId']);?>">
		<input type="submit" value="Cancel"/>
	</form>
</div>

<form action="<?= appurl('classmgr/lessonManager/event='.$t['saveEvent'].'/id='.$t['lessonId']);?>" style="margin:0px;">

<input type="submit" value="Save"/>
<br/>
<br/>

<?php echo $t['table']->toHTML(); ?>

<br/>
<input type="submit" value="Save"/>
</form>

