<?=$t['sectionheader'];?>
<?=$t['pageDisplay'];?>
<h3>Class Chatroom for: <?=$t['title'];?></h3>

To join the chat for this class, <a href="#" onClick = "window.open('<?=modurl("main/event=initialize");?>','generic2','toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=1,resizable=1,width=790,height=500');">click here</a>,  a new window will open.
<BR><BR>
Please note that all chats are archived for security purposes.  
Don't say anything in here that you wouldn't want to be viewed by faculty, students, or staff.
<hr size="1">
<a title="Chat Transcripts for this classroom" href="<?=modurl('main/event=transcript');?>">Classroom chat transcripts may be obtained by clicking here</a>
