<?=$t['sectionheader'];?>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="selectedTab">

      			Form Management
		</td>
		<td class="selectedTab" align="right">
		</td>
	</tr>

	<tr>
		<td width="600">
		<table border="1" width="100%">
			<tr>

				<td class="white">
					<table width="100%"  border="0" cellspacing="2" cellpadding="4">
						<tr>
						<td nowrap align="center" valign="top">
							<a href="<?=APP_URL?>administration/formmgr">
								<img src="<?=IMAGES_URL?>filenew.gif" border="0"></a>
							<br>

							<a href="<?=APP_URL?>administration/formmgr">
							Site Forms</a>
						</td>
						<td nowrap align="center" valign="top">
							<a href="<?=APP_URL?>administration/formmgr/event=addModifyForm/formPkey=<?=$t['pkey']?>/formCode=<?=$t['formCode']?>">
								<img src="<?=IMAGES_URL?>filenew.gif" border="0"></a>
							<br>

							<a href="<?=APP_URL?>administration/formmgr/event=addModifyForm/formPkey=<?=$t['pkey']?>/formCode=<?=$t['formCode']?>">
							Modify Form</a>
						</td>						
						<td nowrap align="center" valign="top">
							<a href="<?=APP_URL?>administration/formmgr/event=resetOrder/formPkey=<?=$t['pkey']?>">
								<img src="<?=IMAGES_URL?>filenew.gif" border="0"></a>
							<br>

							<a href="<?=APP_URL?>administration/formmgr/event=resetOrder/formPkey=<?=$t['pkey']?>">
							Reset Sorting</a>
						</td>
						<td nowrap align="center" valign="top" <? $t['contentArea'] == 'deletes' ? print 'bgcolor="#D0D0D0"': print '';?>>
							<a href="#" onClick =" window.open('<?=APP_URL?>administration/formmgr/event=previewForm/pkey=<?=$t["pkey"]?>/formCode=<?=$t["formCode"]?>','popup','toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=1,resizeable=1,width=400,height=500');"><img src="<?=IMAGES_URL?>filenew.gif" border="0"></a>
							<br>
							<?=$t['previewurl']?>
						</td>						
						<td nowrap align="center" valign="top" <? $t['contentArea'] == 'deletes' ? print 'bgcolor="#D0D0D0"': print '';?>>
							<a href="#" onClick =" window.open('<?=APP_URL?>administration/formmgr/event=viewSourceForm/pkey=<?=$t['pkey']?>/formCode=<?=$t['formCode']?>','popup','toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=1,resizeable=1,width=400,height=500');"><img src="<?=IMAGES_URL?>filenew.gif" border="0"></a>
							<br>
							<?=$t['sourceurl']?>
							
						</td>	
						<td nowrap align="center" valign="top" <? $t['contentArea'] == 'deletes' ? print 'bgcolor="#D0D0D0"': print '';?>>
							
							<a href="#" onclick="requestDelete(<?=$t['pkey']?>,'<?=$t['name']?>');return false;"><img src="<?=IMAGES_URL?>edittrash.gif" border="0"></a>
							<br>
							<a href="#" onclick="requestDelete(<?=$t['pkey']?>,'<?=$t['name']?>');return false;">Delete Form</a>
							
						</td>						
						</tr>
						
						
					</table>

					</td>
			</tr>
			
		<tr>
		<td class="selectedTab">

      			Click below to add a Form Field to this form.
		</td>
	</tr>		
						<tr>

				<td class="white">
				<?=$t['fieldTypes']?>
				</td>
			</tr>
		</table>

	</td></tr>
</table>
<br>&nbsp;<br>
<div style="color: red;"> <?=$t['message']?> </div>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="selectedTab">

      			Viewing Form <b> <?=$t['name']?> </b>
		</td>

	</tr>

	<tr>
		<td width="600">
		<table border="1" width="100%">
			<tr>
				<td class="white">
					<table width="100%"  border="0" cellspacing="2" cellpadding="4">
						<tr>
						<td nowrap align="center" valign="top">
							<?=$t['lcForm']?>
						</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		</td>
	</tr>
</table>
<br>&nbsp;<br>
<a href="<?=APP_URL?>administration/formmgr/event=exportsql/formId=<?=$t['pkey']?>/formCode=<?=$t['formCode']?>">Export Form SQL</a>

