	.datatable {
		background-color:#CCC;
	}
	.datatable TR {
		background-color:#EFEFEF;
	}
	.datatable TR TH {
		padding: 0px 7px 0px 7px;
		background-color:#036;
		color:white;
	}

	.datatable TR.even {
		background-color:white;
	}

	.datatable TR.odd {
		background-color:#EFEFEF;
	}

	.datatable TR TD {
		padding:0px 7px 0px 7px;
	}

	.center_justify {
		text-align:center;
	}
	.left_justify {
		text-align:left;
	}
	.right_justify {
		text-align:right;
	}

	DIV.forum_quote_shell {
		width:90%;
		margin-left:4%;
	}

	BLOCKQUOTE.forum_quote {
		background-color: #CDCECD;
		border: 1px dashed black;
		width:100%;
		text-align:left;
		padding:1px 7px 1px 7px;
		margin:0px;
	}

	DIV.forum_code_shell {
		width:90%;
		margin-left:4%;
	}

	BLOCKQUOTE.forum_code {
		background-color: #6C6C6C;
		color: #18F218;
		border: 1px dashed black;
		width:100%;
		text-align:left;
		padding:1px 7px 1px 7px;
		margin:0px;
	}

