body,td,table,p,a
{
        font-family:Arial, Helvetica;
        font-size:11px;
}

H1,H2,H3,H4,H5
{
        margin:1px;
}

UL
{
        padding-left:15px;
        margin:0;
}

.lightbackground
{
        background-color:#eee;
}

.grayoutline
{
        border:1px solid silver;
}

#tabs table tr td a
{
        color:#FFF;
        padding:2px 10px;
}

#tabs table tr td.home
{
        font-weight:700;
        font-variant:small-caps;
}

#tabs table tr td.last_tab
{
        background:url("nonexistant.png") #036;
}

#menu table tr td
{
        padding:2px 2px 2px 10px;
}

#menu table tr td.menu_head
{
        font-variant:small-caps;
        font-size:100%;
        color:#669;
        background:#CCC;
        font-weight:700;
        padding:2px 2px 2px 10px;
}

#menu table tr td.menuitem:after
{
        content:'<hr>';
}

#colored table tr td.blue
{
        color:#FFF;
        background:#036;
        padding:2px 10px;
}

textarea
{
        border:1px solid #777;
        background:#efefef;
        font:11px verdana;
        color:#333;
}

select
{
        border:1px solid #777;
        background:#efefef;
        font:11px verdana;
        color:#333;
}

input
{
        border:1px solid #999;
        background:#efefef;
        font:11px verdana;
        color:#333;
}

button
{
        background-color:#efefef;
        font:11px verdana;
        color:#333;
        border:1px solid #333;
}

	/**
         *      Section Header
         */
#sectionheader
{
        background-color:#003062;
        color:#FFF;
        padding:3px;
}

#sectionheader th
{
        color:#FFF;
}

#sectionheader a
{
        color:#FFF;
        padding:1px 7px 2px;
}

#sectionheader b
{
        color:#F0F8FF;
        padding:4px;
}

#sectionheader H3
{
        margin-bottom:2px;
        margin-top:2px;
}

#applinks
{
        background-color:#EEE;
        border-top:1px solid #FFF;
        padding:3px;
}

#applinks b.title
{
        color:#36c;
        font-weight:700;
        background-color:#EEE;
        padding:3px;
}

#applinks b,#applinks b a
{
        color:#FFF;
        background-color:#003062;
        padding:4px;
}

#applinks a.visited
{
        color:blue;
}

	/**
         *      Other
         */
.coursemaintitle
{
        background-color:#9C0000;
        font-weight:700;
        padding-left:15px;
	padding-top:3px;
	padding-bottom:3px;
        margin-bottom:3px;
        color:#FFF;
}

.bartitle
{
        background-color:#9C0000;
        color:#FFF;
}

.bartitle td a
{
        color:#FFF;
        font-weight:700;
}

.bartitle td
{
        padding-left:.4em;
        padding-top:.4em;
        padding-bottom:.4em;
}

TD.portalbox
{
        background-color:#9C0000;
        font-weight:700;
        color:#FFF;
        font-size:9pt;
        text-align:center;
        font-family:verdana, helvetica, sans-serif;
}

TD.portalbox a
{
        color:#FFF;
}

TD.portalbox a:hover
{
        color:#FFF;
}

	/**
         * Forums
         */
.forumsection
{
        background-color:#eee;
}

.tabletitle
{
        background-color:#9C0000;
        color:#FFF;
        font-size:120%;
        font-weight:700;
}

TABLE.grayoutline
{
        border:1px solid silver;
}

DIV.hover_button:hover
{
        background-color:silver;
        border:1px solid gray;
}

DIV.hover_button
{
        border:1px solid #FFF;
}

DIV.forum_moderator_nav
{
        background-color:#CECECE;
        width:300px;
        text-align:center;
        border-top:1px solid silver;
        border-left:1px solid silver;
        border-right:1px solid #000;
        border-bottom:1px solid #000;
        padding:2px;
}

DIV.forum_quote_shell
{
        width:90%;
        margin-left:4%;
}

BLOCKQUOTE.forum_quote
{
        background-color:#CDCECD;
        border:1px dashed #000;
        width:100%;
        text-align:left;
        margin:0;
        padding:1px 7px;
}

DIV.forum_code_shell
{
        width:90%;
        margin-left:4%;
}

BLOCKQUOTE.forum_code
{
        background-color:#6C6C6C;
        color:#18F218;
        border:1px dashed #000;
        width:100%;
        text-align:left;
        margin:0;
        padding:1px 7px;
}

	/**
         *      Private Messages
         */
.pmmessage_header
{
        background-color:#003062;
        color:#FFF;
}

tr.row1
{
        background-color:#eee;
}

td.header2
{
        background-color:#eee;
}
