  body, td, table, p, a {
    font-family: Arial, Helvetica;
    font-size: 11px;
  }

  .lightbackground
  {	background-color: #eeeeee;
  }
  .grayoutline
  {	border: 1px solid silver;
  }
	#tabs table tr td a {
		color:white; 
		padding:2px 10px;
	}

	#tabs table tr td.home {
		font-weight:bold;
		font-variant:small-caps;
	}

	#tabs table tr td.last_tab {
		background: url("nonexistant.png") #036;
	}

	#menu table tr td {
		padding: 2px 2px 2px 10px;
	}

	#menu table tr td.menu_head {
		padding: 2px 2px 2px 10px;
		font-variant:small-caps;
		font-size:100%;
		color:#669;
		background: #CCC;
		font-weight: bold;
	}

	#menu table tr td.menuitem:after {
		content: '<hr>';
	}


	#colored table tr td.blue {
		color:white; 
		background: #036;
		padding:2px 10px;
	}
textarea{
  border: 1px solid #777777;
  background: #efefef;
  font: 11px verdana;
  color: #333333;

}

select{
  border: 1px solid #777777;
  background: #efefef;
  font: 11px verdana;
  color: #333333;
}

input{
  border: 1px solid #999999;
  background: #efefef;
  font: 11px verdana;
  color: #333333;
}

button{
  background-color: #efefef;
  font: 11px verdana;
  color: #333333;
  border: 1px solid #333333;
}



	
	/**
	 *	Datagrid
	 */
	#datagrid table 
	{	border: 1px solid silver;
	}
	#datagrid table tr th 
	{	background-color: #9C0000;
		color: white;
	}
	#datagrid table tr th a 
	{	color: white;
	}
	#datagrid table tr td 
	{	padding: 3px;
	}

	#datagrid table tr td.error 
	{	background-color: #FF84BD;
	}
	#datagrid table tr.even 
	{	/*background-color: white; */
	}
	#datagrid table tr.odd 
	{	background-color: #EEEEEE;
	}
	
	/**
	 *	Section Header
	 */

	#sectionheader {
		padding: 3px;
		background-color:#003062;
	}
	#sectionheader th {
		color: white;
	}
	#sectionheader a {
		color: white;
		padding:1px 7px 2px 7px;
	}
	#sectionheader b {
		padding: 4px;
		color:#F0F8FF;
	}
	#sectionheader H3 {
		margin-bottom:2px;
		margin-top:2px;
	}
	#applinks {
		background-color:#EEEEEE;
		border-top: 1px solid white;
		padding: 3px;
	}
	#applinks b.title {
		padding: 3px;
		color: #36c;
		font-weight: bold;
		background-color: #EEEEEE;
	}
	
	#applinks b, #applinks b a {
		padding: 4px;
		color: white;
		background-color:#003062;
	}
		
	#applinks a.visited {
		color: blue;
	}	
	
	/**
	 *	Calendar Styles
	 **/
 	#calendar table {
		background-color:#F2F2F2;
		border: 1px solid silver;
	}
	
	#calendar table.monthtable
	{	//background-color:#FFCE7B; 
	}

	#calendar table.monthtitletable
	{	border-bottom: 0px;
		padding: 3px;
		background-color: #EEEEEE;
		font-weight: bold;
	}
	
	/* weekday (lit) bar **/
	#calendar table tr.row2
	{
		background-color: #003062;
		text-align: right;
		font-family: arial;
		color: white;
		font-weight: bold;
	}
	
	#calendar table tr.row2 td
	{	padding-right: 4px;
		padding-top: 4px;
		padding-bottom: 4px;
	}
	
	.monthCall
	{	background: #FFEBEB; 
		padding-bottom: 20px;
	}
	
	.calHasEvent
	{	background-color: #9C0000;
	}
	
	.calHasEvent a
	{	color: white;
		font-weight: normal;
	}
	
	.weekendDay
	{	background: #Ffffff;
	}
	
	#calendar .noDay
	{	background: #EEEEEE;
	}
	
	.todayseventstitle
	{	background-color: #FFCE7B;
		
	}
	.todaysevents
	{	background-color:  #FFCE7B;
	}

	
	
	/**
	 *	Other
	 */
	td.coursemaintitle {
		background-color: #9C0000;
		font-weight: bold;
		padding-left: 15px;
		margin-bottom: 3px;
		color: white;
	}
	tr.bartitle
	{	background-color: #9C0000;
		color: white;
	}
	tr.bartitle td a
	{	color: white;
	}
	
	
	TD.portalbox
	{	background-color: #9C0000;
		font-weight: bold;
		color: white;
		font-size: 9pt;
		text-align: center;
		font-family: verdana, helvetica, sans-serif;
	}
	
	TD.portalbox a
	{	color: white;
	}
	TD.portalbox a:hover
	{	color: white;
	}
	
	
	/**
	 *	Forums
	 */
	 .forumsection 
	 {	background-color: #eeeeee;
	 }
	  .tabletitle
	 {	background-color: #9C0000;
	 	color: white;
		font-size: 120%;
		font-weight: bold;
	 }
	 .titlehead
	 {	background-color: #9C0000;
	 	color: white;
	 }
	 
	 table.grayoutline
	 {	border: 1px solid silver;
	 }
	 
	/**
	 *	Private Messages
	 */
	.pmmessage_header
	{	background-color: #003062;
		color: white;
	}
	tr.row1
	{	background-color: #eeeeee;
	}
	td.header2
	{	background-color: #eeeeee;
	}
