<table bgcolor="#FFCE7B" cellpadding="2" cellspacing="0" border="0" width="100%">
	<tr><td><h4>Gradebook - Updating Weighted Totals</h4></td><td></td></tr>
</table>

<br>

<h4>Available Items</h4>

	<form method="POST">
<table cellpadding="4" cellspacing="4" width="60%" align="center">

<tr>
	<td ><b>Homework</b></td><td valign="top"><input type="text" size="5" value="5%"></td>
</tr>

<tr>
	<td><b>Quiz 1</b></td><td valign="top"><input type="text" size="5" value="5%"></td>
</tr>

<tr>
	<td ><b>Midterm</b></td><td valign="top"><input type="text" size="5" value="5%"></td>
</tr>

<tr>
	<td><b>Final Exam</b></td><td><input type="text" size="5" value="5%"></td>
</tr>

</table>
<input type="submit" value="Update Weighted Totals">

<input type="hidden" value="update" name="action">
<input type="hidden" value="updateWeightedTotals" name="event">
		
</form>