<?=$t['sectionheader'];?>
<br>
<fieldset>
	<legend><b>Assessment Completed</b></legend>
	<?=$t['testover'];?>
	You have successfully turned in your assessment. Once the end date for the assessment
	has passed AND the instructor has chosen to publish the grades you can view the
	results of the assessment. Keep checking the <a
	href="<?=APP_URL?>classrom/assessments">Assessments</a> page for up-to-date information
	and results.  Please do not press the back button on your browser and try to re-submit
	your test as that will result in an error.
</fieldset>


<h3><a href="<?=APP_URL?>classroom/assessments">Return To Assessments</a></h3>
