<style type="text/css">
  body, td, p {
    font-family: Arial, Helvetica;
    font-size: 12px; 
  }

  pre {
    background: #eeeeee;
    padding: 5px;
  }

  a {
    color: red;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
<table width="90%">
<tr bgcolor="#eeeeee">
<td colspan="2" align="right">
  <table>
  <tr>
    <td>
  <h2><a href="<?=APP_URL?>" target="new">Run LogiCampus Demo</a> &raquo;</h1>
    </td>
  </tr>
  </table>
</td>
</tr>
<tr>
  <td valign="top" width="25%">
<br />
<ol>
  <li> <a href="#intro">Introduction</a> </li>
  <li> <a href="#demo">LogiCampus Demo</a> </li>
  <li> <a href="#aboutlogicampus">About LogiCampus</a> </li>
  <li> <a href="#abouttap">About Tap Internet</a> </li>
  <li> <a href="#aboutcd">About this CD</a> </li>
  <li> <a href="#license">License</a> </li>
</ol>
<br>
<center>
<table cellpadding="5" width="90%">
<tr bgcolor="#eeeeee">
<td>
<p>
<b>Contact Info</b><br />
Tap Internet, Inc.<br/>
info@tapinternet.com<br/>
301 W. Michigan Ave. <br/>
Suite A31 <br/>
Ypsilanti, MI 48197<br/>
P: (734) 482-1371 <br/>
F: (734) 482-3220 <br/>
</p>
</td>
</tr>
</table>

  </td>
  <td>

<a name="intro"></a>
<h1>Introduction</h1>

<p>
Welcome to the LogiCampus demo CD. This CD contains a fully functional demo
of the LogiCampus system. LogiCampus is a new Open Source distance learning /
course management product. The system comes with no up front cost or reocurring
fees that come with other commercial systems. 
</p>
<p>
This project was developed by Tap Internet in conjunction with Tarrant County
College in Texas.  The project was developed with public grant money, and accordingly is being released under a public license.
</p>

<a name="demo"></a>
<h1>LogiCampus Demo</h1>
<p>
The LogiCampus demo can be ran from three different standpoints; administrator,
teacher and student. Each standpoint has different options and different 
applications available to them. The username/password combinations are 
"admin/admin", "teacher/teacher" and "student/student". 
</p>
<p>
You can launch the LogiCampus demo by clicking <a target="new" href="<?=APP_URL?>">here</a>.
</p>

<a name="aboutlogicampus"></a>
<h1>About LogiCampus</h1>

<p>
LogiCampus is a new distance learning system built in conjunction with Tarrant County College Center for Distance Learning of Fort Worth, Tx. LogiCampus will allow a College, University, or School District to run existing classes or online learning classes via the web as well as provide the foundation for an institution to create additional integrated applications.
</p>

<p>
LogiCampus provides a single sign-on for students, faculty, and staff of an institution and provides more than just a course management / distance learning system. LogiCampus provides the standard tools for faculty to create their online courses, process assignments, make tests and stay in contact with students. Students enjoy being able to easily see their assignments, lessons and other information for all of their classes. Staff benefit by other applications such as the built-in help desk, textbook requisitions, exam scheduling and faculty / course changes.
</p>
<p>
LogiCampus is built on top of Tap Internets open source application server called LogiCreate, stated Keith Elder, Director of Tap Internet. Our learning system provides a foundation on which an institution can build additional integrated applications easily. Since the system is using LogiCreate, the sky is the limit as far as adding additional applications to meet departmental needs while still providing a single sign-on environment.  
</p>

<a name="abouttap"></a>
<h1>About Tap Internet, Inc.</h1>
<p>
Tap Internet, Inc. is a privately held Michigan-based company. Since 1999, Tap Internet has helped corporations and organizations of all sizes to significantly reduce the time and expense involved in managing their web site by migrating business applications to the web. Tap Internets flagship product, LogiCreate Application Server, provides businesses the capabilities necessary in the development, deployment and maintenance of todays business-critical web sites. For more information about Tap Internet, Inc., please visit http://www.tapinternet.com and for additional details about LogiCreate Application Server 2.9 visit http://www.logicreate.com or the LogiCreate demo site at http://demo.logicreate.com.
</p>

<a name="aboutcd"></a>
<h1>About this CD</h1>
<p>
This CD runs a special version of the Linux operating system. It contains a
complete version of LogiCampus that can be easily used to demonstrate the
system to other people. Tap Internet does not warrant that the CD will 
function for any other purpose. For security purposes networking and many
other services have been disabled. This CD also contains a complete TAR/GZIP 
archive of the LogiCampus system, which you can find by putting this CD into
any computer and navigating to your CDROM drive.
</p>


<a name="license"></a>
<h1>License</h1>
<p>
<pre>
This software is copyright (c) Tap Internet 2003.  All rights reserved.

Redistribution and use in source or binary form, with or without 
modification, are permitted provided the following conditions are met:

 * Redistributions in source code must retain the above
   copyright notice, this list of conditions, and the following
   disclaimer.

 * Redistributions in binary form must reproduce the above
   copyright notice, this list of conditions, and the following
   disclaimer in the documentation and/or other materials
   provided with the distribution.

 * The names Tap Internet and Tarrant County College must not be used to
   endorse or promote products derived from this software
   without prior written permission from Tap Internet and Tarrant County 
   College respectively.

 * The right to distribute this software or to use it for
   any purpose does not give you the right to use Servicemarks
   (sm) or Trademarks (tm) of Tap Internet or Tarrant County College.

 * If any files are modified, you must cause the modified
   files to carry prominent notices stating that you changed
   the files and the date of any change.

Disclaimer:

THIS SOFTWARE IS PROVIDED BY TAP INTERNET, INC. ``AS IS'' AND ANY EXPRESSED 
OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES 
OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.  IN
NO EVENT SHALL TAP INTERNET, INC. OR ITS CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, 
BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, 
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY 
OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING 
NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, 
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

</pre>
</p>


</table>

