<?php
$user = LcUser::getCurrentUser();
?>

		<h2>Welcome, <?=$user->profile->get('firstname') .'&nbsp;'. $user->profile->get('lastname');?>!</h2>


		<table align="right" cellpadding="2" cellspacing="1" style="border: 1px solid silver;" width="250">
		<tr>
			<td class="portalbox">System Message</td>
		</tr>
		<tr>
			<td align="center">
				<?=$t['motd'];?>
			</td>
		</tr>
		</table>


		<br/>

		<h4>Browse our course catalog</h4>
		<a href="<?= appurl('welcome/catalog');?>">Start browsing</a>
