<table bgcolor="#FFCE7B" cellpadding="2" cellspacing="0" border="0" width="100%">
	<tr><td><h4>Gradebook - Edit Entry</h4>
		
			<a href="<?=APP_URL?>classmgr/main/event=displayClass">Classroom Manager</a> &bull;
		<a href="<?=APP_URL?>gradebook/">Gradebook</a> &bull;
		<a href="<?=APP_URL?>gradebook/grades/event=addEntry">Add Entry</a>
	
	</td><td></td></tr>
</table>

<br>

<b>Available Entries to Edit</b>

<ol>

	<li><a href="<?=APP_URL;?>gradebook/grades/event=updateEntry/entry=Homework">Homework 1</a>
	<li><a href="<?=APP_URL;?>gradebook/grades/event=updateEntry/entry=Quiz1">Quiz #1</a>
	
</ol>
